{% extends 'newsletter/base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <form action="" method="post">
                {% csrf_token %}
                <label for="subject">Email Subject</label>
                <input type="text" id="subject" name="subject" class="form form-control" required placeholder="Enter Subject">
                <label for="template">Select Template</label>
                <select name="template" id="template" required class="form form-control">
                    <option value="default">Default</option>
                    <option value="blogs" selected>Blogs</option>
                    <option value="products">Products</option>
                </select>
                <label for="message" id="message-label">Enter the Message</label>
                <textarea name="message" id="message" cols="30" rows="10" class="form form-control"></textarea>
                <button type="submit" class="btn btn-primary w-100 btn-lg my-3">Send to All</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var templateSelect = document.getElementById('template');
        var messageField = document.getElementById('message');
        var messageLabel = document.getElementById('message-label');
        var form = document.querySelector('form');

        // Hide the message field by default
        messageField.style.display = 'none';
        messageLabel.style.display = 'none';

        // Function to toggle message field visibility and required attribute
        function toggleMessageField() {
            if (templateSelect.value === 'default') {
                messageField.style.display = 'block';
                messageLabel.style.display = 'block';
                messageField.required = true;
            } else {
                messageField.style.display = 'none';
                messageLabel.style.display = 'none';
                messageField.required = false;
            }
        }

        // Toggle message field visibility on page load
        toggleMessageField();

        // Add event listener to toggle message field visibility and required attribute
        templateSelect.addEventListener('change', toggleMessageField);

        // Add event listener to form submission to check for blank message
        form.addEventListener('submit', function (event) {
            if (templateSelect.value === 'default' && messageField.value.trim() === '') {
                event.preventDefault();
                alert('Please enter a message.');
            }
        });
    });
</script>



{% endblock %}