{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-WNRBR7N"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10926755664"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-10926755664');
    </script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-99WZSD0FEW"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
    
            gtag('config', 'G-99WZSD0FEW');
        </script>
        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-TQNSKV7');</script>
        <!-- End Google Tag Manager -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}

    {% endblock %}
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
  <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
    <meta name="author" content="Jeff Odhiambo">
    {% include 'partials/css.html' %}
    <title>{% block head_title %}{% endblock %} - Accounts- VSTech Limited</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body class="bg-light">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQNSKV7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container">
      {% include 'partials/messages.html' %}
      <div class="row align-items-center justify-content-center p-4" style="height:80vh">
        <div class="col-lg-4 col-md-8 col-sm-12 p-3 bg-white">
          <div class="py-3 px-5 text-center">
            <img src="/static/images/logo-3.png" alt="VSTech Limited" title="VSTech Limited Logo" style="max-width: 10em !important;">
          </div>
            {% block body %}
              {% block content %}
              {% endblock %}
              {% endblock %}
              {% block extra_body %}  
            {% endblock %}
        </div>
      </div>
    </div>
    {% include 'partials/chat-bot.html' %}
  </body>
</html>
