{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}

    {% endblock %}
    <meta name="author" content="Jeff Odhiambo">
    {% include 'partials/css.html' %}
    <title>{% block head_title %}{% endblock %} - Accounts- VSTech Limited</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body class="bg-light">
    <div class="container">
      {% include 'partials/messages.html' %}
      <div class="row align-items-center justify-content-center p-4" style="height:80vh">
        <div class="col-lg-4 col-md-8 col-sm-12 shadow-sm p-3 bg-white">
          <div class="py-2 px-4 text-center">
            <img src="/static/images/logo-3.png" alt="VSTech Limited" title="VSTech Limited Logo" class="img-fluid">
          </div>
            {% block body %}
              {% block content %}
              {% endblock %}
              {% endblock %}
              {% block extra_body %}  
            {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
