{% extends 'base.html' %}
{% block title %}{{ title }} - AI - VSTech Limited{% endblock %}
{% block meta %} 
	<meta name="title" content="Revolutionary AI Image Generation: VS Tech's Latest Breakthrough">
    <meta name="keywords" content="AI image generation, VS Tech, artificial intelligence, computer vision, e-commerce, gaming, design, advertising">
    <meta name="description" content="Discover the groundbreaking AI image generation technology by VS Tech. Transforming textual descriptions into stunning visuals, this revolutionary system has the potential to reshape e-commerce, gaming, design, and advertising industries.">
{% endblock %}
{% block content %}
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="inner-column">
                    <!-- Contact Form -->
                    <div class="contact-form wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                        <div class="title-box">
                            <span class="sub-title">Generate an Image</span>
                            <h3>Get Started!</h3>
                        </div>
                        {% if can_generate_image == 1 %}
                       <!--Contact Form-->
                        <form method="post" action="" id="contact-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <textarea name="description" placeholder="Provide a description of the image to be generated" required=""></textarea>
                            </div>
                            <div class="form-group">
                                <h4 class="text-light">Configurations:</h4>
                                <div class="row">
                                    <div class="col-xl-6 col-md-6 col-sm-6">
                                        <label for="number_of_images">Number of Images</label>
                                        <input type="number" placeholder="" id="number_of_images" name="number_of_images" min="1" max="4" value="1">
                                        <small class="text-danger" style="font-size: x-small;" id="number_of_images_error"></small>
                                    </div>
                                    <div class="col-xl-6 col-md-6 col-sm-6">
                                        <label for="size">Size</label>
                                        <select name="size" id="size" required>
                                            <option value="1024x1024" selected>1024x1024</option>
                                            <option value="512x512">512x512</option>
                                            <option value="256x256">256x256</option>
                                        </select>
                                        <div class="custom" style="display: none;">
                                            <p class="my-2 text-light small">Provide Dimensions (in px)</p>
                                            <div class="d-flex no-wrap">
                                                <!-- <div class="col-md-6 col-sm-6">
                                                    <input type="number" name="length" placeholder="Length" required>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="number" name="width" placeholder="Width" required>
                                                </div> -->
                                            </div>
                                        </div>
                                        <small class="text-danger" style="font-size: small;" id="numbers_only"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="btn-title">Generate</span></button>
                            </div>
                        </form>

                        {% else %}
                            <p class="alert alert-warning">No attempt left, Purchase a product from <a href="{% url 'shop:list' %}">VSTech Shop</a> to get 20 more trials/attemps <b class="fw-bold">OR</b> get free 7 days of use by referring a client to us.</p>
                        {% endif %}
                    </div>
                    <!--End Contact Form -->

                </div>
            </div>
            <div class="col-lg-5">
                <div class="col-lg-12 mb-2">
                    <span class="alert alert-{% if request.user.trials.number == 0 %}danger{% else %}info{% endif %}">{{ request.user.trials.number }} attempts left</span>
                </div>
                {% if image_urls %}
                <div class="col-lg-12">
                    <p>View generated image</p>
                    <p>{% if content %}{{ content }}{% endif %}</p>
                </div>
                <div class="row g-3">
                    {% for image_url in image_urls %}
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <!-- Project Block -->
                        <div class="project-block">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure >
                                        <img src="{{ image_url }}" alt="Generated Image">
                                    </figure>
        
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="bg-light">
    <div class="container">
    {% if generated_images %}
        <div class="row">
            <div class="col-lg-12">
                <h4>Previously generated Images({{generated_images.all.count}})</h4>
            </div>
            {% for image in generated_images %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mt-2">
                    <!-- Project Block -->
                    <div class="project-block shadow-sm p-2 bg-white">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure >
                                    <img src="{% if image.image_url %}{{ image.image_url }}{% else %}/static/images/resource/project-1.jpg{% endif %}" alt="Generated Image">
                                </figure>
                            </div>
                            <p class="small" style="line-height: 1.1;">{{ image.description|truncatechars:200 }}</p>
                            <p>
                                <ul class="d-flex">
                                    <li title="Download Image">
                                        <a href="{% if image.image_url %}{{ image.image_url }}{% else %}/static/images/resource/project-1.jpg{% endif %}" download class="fancybox-button btn btn-warning btn-sm m-1"><i class="fa fa-download" aria-hidden="true"></i></a>
                                    </li>
                                    <li title="View Image">
                                        <a href="{% if image.image_url %}{{ image.image_url }}{% else %}/static/images/resource/project-1.jpg{% endif %}" class="fancybox-button btn btn-primary btn-sm m-1"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </li>
                                    <li title="Delete Image">
                                        <a href="{% url 'ai:delete_generated_image' image.id %}" class="fancybox-button btn btn-danger btn-sm m-1"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    </li>
                                    <li title="Share Image on Linkedin">
                                        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ image.image_url }}&title=Checkout this great Image Generated by AI from VSTech LImited" class="fancybox-button btn btn-success btn-sm m-1"> <i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                    </li>
                                    <li title="Regenerate">
                                        <a href="{% url 'ai:regenerate_image' image.id %}" class="fancybox-button btn btn-info btn-sm m-1"><i class="fa fa-retweet" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    {% endif %}
    </div>
</section>

{% endblock %}

{% block js %}
<script>
    document.getElementById('number_of_images').addEventListener('change', function() {
        var errorElement = document.getElementById('number_of_images_error');
        var value = parseInt(this.value);

        if (isNaN(value) || value < 1 || value > 4) {
            errorElement.textContent = 'Number must be between 1 and 4.';
        } else {
            errorElement.textContent = '';
        }
    });
</script>
{% endblock %}
