{% extends 'base.html' %}
{% block title %}{{ title }} - AI - VSTech Limited{% endblock %}
{% block meta %} 
	<meta name="title" content="Revolutionary AI Image Generation: VS Tech's Latest Breakthrough">
    <meta name="keywords" content="AI image generation, VS Tech, artificial intelligence, computer vision, e-commerce, gaming, design, advertising">
    <meta name="description" content="Discover the groundbreaking AI image generation technology by VS Tech. Transforming textual descriptions into stunning visuals, this revolutionary system has the potential to reshape e-commerce, gaming, design, and advertising industries.">
{% endblock %}
{% block content %}
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="inner-column">
                    <!-- Contact Form -->
                    <div class="contact-form wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                        <div class="title-box">
                            <span class="sub-title">{{ title }}</span>
                            <h3>Get Started!</h3>
                        </div>
                        {% if not payment.is_paid %}
                        <form method="post" action="" id="contact-form">
                            {% csrf_token %}
                            <div class="form-group">
                                {% if request.user.profile.phone_number and request.user.profile.phone_number != "None" %}<h5 class="text-light">Should we use the Number below?</h5>{% endif %}
                                <input type="tel" name="phone_number" id="phone_number" placeholder="Enter Phonenumber" {% if request.user.profile.phone_number and request.user.profile.phone_number != "None" %}value="{{request.user.profile.phone_number}}"{% endif %}/>
                                <small>We will send STK Push to the provided number, Use valid Number</small>
                            </div>
                            <div class="form-group">
                                <button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="btn-title">Pay</span></button>
                            </div>
                        </form>
                        {% else %}
                            <div class="alert alert-success">
                                <h5>Payment was Completed, Thanks!</h5>
                            </div>
                        {% endif %}
                    </div>
                    <!--End Contact Form -->

                </div>
            </div>
            <div class="col-lg-7">
                <h3>Order Details</h3>
                <div class="col-lg-12 mb-2 table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Trans. Code</th>
                            <th>Trans. Date</th>
                            <th>Trans. Time</th>
                            <th>Academic Level</th>
                            <th>Subject</th>
                            <th>No. of Ideas</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ payment.transaction_code }}</td>
                                <td>{{ payment.created_at|date }}</td>
                                <td>{{ payment.created_at|time }}</td>
                                <td>{{ payment.idea_request.level }}</td>
                                <td>{{ payment.idea_request.area }}</td>
                                <td class="text-end">{{ payment.idea_request.number_of_ideas  }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="fw-bold">
                                <td colspan="5">Amount</td>
                                <td class="text-end">Ksh. {{ payment.amount }}</td>
                            </tr>
                        </tfoot>
                    </table>
                    <h6 class="mt-4">Provided Additional Information</h6>
                    <p>{{ payment.idea_request.description|linebreaks|default:'None' }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h5><i class="fa fa-list-ol" aria-hidden="true"></i> Generated Ideas: [<a href="{{ payment.idea_request.get_absolute_url }}">View Request</a>]</h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Idea Title</th>
                    {% if payment.is_paid %}
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for idea in payment.idea_request.generated_ideas.all %}
                <tr>
                    <td>{{ forloop.counter}}.</td>
                    <td>{% if payment.is_paid %}{{ idea.title }}{% else %}<div class="alert alert-danger alert-sm fw-bold">Access Denied!</div>{% endif %}</td>
                    {% if payment.is_paid %}
                    <td>
                        <div class="d-flex justify-content-evenly">
                            <a href="{{ idea.get_absolute_url }}" class="text-primary" title="View idea">View</a>
                            <a href="" class="text-success" title="Request Implementation">Request Implementation</a>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th>Idea Title</th>
                    {% if payment.is_paid %}
                    <th>Action</th>
                    {% endif %}
                </tr>
            </tfoot>
        </table> 
    </div>
</section>
{% endblock %}
