<!-- Start main-content -->
<section class="page-title" style="background-image: url(/static/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1 class="title">{{ title|default:'VSTech Limited' }}</h1>
            <ul class="page-breadcrumb">
                <li><a href="/">Home</a></li>
                {% if category %}
                    <li><a href="{{ category_url }}">{{ category }}</a></li>
                {% endif %}
                <li>{{ title|default:'VSTech Limited' }}</li>
            </ul>
        </div>
    </div>
</section>
<!-- end main-content -->