    <!-- Responsive -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <meta name="title" content="VSTech Limited - Innovative Software Solutions for Businesses">
    <meta name="keywords" content="vstech, vs tech, vs-tech, software company, vstech limited, vstech homepage, homepage, home, software firms, software development, IT cunsultation, tech company, software company, innovative solutions, productivity, efficiency, industries, healthcare, finance, retail, government, education, best, company, tech">
    <meta name="description" content="VSTech Limited is a leading software company that provides innovative solutions to help businesses maximize productivity and efficiency. We offer a wide range of products and services to industries such as healthcare, finance, retail, government, and education.">
	<meta name="author" content="Jeff Odhiambo">
    <meta name="next-head-count" content="5" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>VSTech Limited - Innovative Software Solutions for Businesses</title>