	<!-- Main Header-->
	<header class="main-header header-style-one">
		<!-- Header Top -->
		<div class="header-top">
			<div class="inner-container">

				<div class="top-left">
					<!-- Info List -->
					<ul class="list-style-one">
						<li><i class="fa fa-envelope"></i> <a href="mailto:{{ about.email|default:'o.jeff3.a@gmail.com' }}">{{ about.email|default:'o.jeff3.a@gmail.com' }}</a></li>
						<li><i class="fa fa-map-marker"></i> {{ about.address|default:'52106 00100 Nairobi' }}</li>
					</ul>
				</div>

				<div class="top-right">
					<ul class="useful-links">
						<li>
							<div class="form-check form-switch m-0 p-0">
								<label class="form-check-label my-0 py-0" for="flexSwitchCheckChecked">Dark Theme</label>
								<input class="form-check-input my-0 py-0" type="checkbox" role="switch" id="flexSwitchCheckChecked">
							</div>
						</li>
						<li><a href="{% url 'faq' %}">Help</a></li>
						{% if request.user.is_authenticated %}
							<li><a href="">Profile</a></li>
							<li><a href="{% url 'account_logout' %}">Logout</a></li>
						{% else %}				
							<li><a href="{% url 'account_signup' %}">Register</a></li>
							<li><a href="{% url 'account_login' %}">Login</a></li>
						{% endif %}
					</ul>
				</div>		
			</div>

			<div class="outer-box">
				<ul class="social-icon-one">
					<li><a href="{{ about.twitter|default:'https://twitter.com/vstech_ltd' }}"><span class="fab fa-twitter"></span></a></li>
					<li><a href="{{ about.facebook|default:'https://fb.com' }}"><span class="fab fa-facebook-square"></span></a></li>
					<li><a href="{{ about.linkedin|default:'https://linkedin.com/company/vstech-ltd/' }}"><span class="fab fa-linkedin"></span></a></li>
					<li><a href="{{ about.youtube|default:'https://www.youtube.com/channel/UCkedAOBJuj9d0cvTKFzWqmA?sub_confirmation=1' }}"><span class="fab fa-youtube"></span></a></li>				
				</ul>
			</div>
		</div>
		<!-- Header Top -->

		<!-- Header Lower -->
		<div class="header-lower">
			<!-- Main box -->
			<div class="main-box">
				<div class="logo-box">
					<div class="logo"><a href="/"><img src="/static/images/logo.png" alt="" width="180" title="VSTech Limited"></a></div>
				</div>

				<!--Nav Box-->
				<div class="nav-outer">

					<nav class="nav main-menu">
						<ul class="navigation">
							<li class="{% if title == 'Homepage' %}current{% endif %}"><a href="/">Home</a></li>
							<li class="dropdown {% if title == 'About Us' or title == 'Projects' or title == 'Team Members' or title == 'Testimonies' or title == 'FAQs' %}current{% endif %}"><a href="#">About</a>
								<ul>
									<li><a href="{% url 'about' %}">About</a></li>
									<li><a href="{% url 'project:list' %}">Projects</a></li>
									<li><a href="{% url 'users:team' %}">Team</a></li>
									<li><a href="{% url 'testimonies' %}">Testimonial</a></li>
									<!-- <li><a href="page-pricing.html">Pricing</a></li>
									<li><a href="page-pricing-switcher.html">Pricing Switcher</a></li> -->
									<li><a href="{% url 'faq' %}">FAQ</a></li>
									
								</ul>
							</li>
							<li class="{% if title == 'Our Services' or category == 'services' %}current{% endif %}"><a href="{% url 'services:list' %}">Services</a></li>
							<li class="dropdown"><a href="#">Shop</a>
								<ul>
									<li><a href="{% url 'shop:list' %}">Products</a></li>
									<li><a href="{% url 'shop:cart' %}">Cart</a></li>
									<li><a href="{% url 'shop:checkout' %}">Checkout</a></li>
								</ul>
							</li>
							<li class="{% if title == 'Blogs' or category == 'Blogs > Test Category' %}current{% endif %}"><a href="{% url 'blog:list' %}">Blogs</a></li>
							<li class="{% if title == 'Contact Us' %}current{% endif %}"><a href="{% url 'contact' %}">Contact</a></li>
						</ul>
					</nav>
					<!-- Main Menu End-->


					<div class="outer-box">
						<div class="ui-btn-outer">
							<button class="ui-btn ui-btn search-btn">
								<span class="icon lnr lnr-icon-search"></span>
							</button>
							<a href="{% url 'shop:cart' %}" class="ui-btn"><i class="lnr-icon-shopping-cart"></i></a>
						</div>


						<a href="tel:{{ about.phone_number|default:'+254795067776' }}" class="info-btn">
							<i class="icon fa fa-phone"></i>
							<small>Call Anytime</small><br> {{ about.phone_number|default:'+254795067776' }}
						</a>

						<a href="/static/VSTech Portfolio.pdf" class="theme-btn btn-style-one"><span class="btn-title">View porfolio</span></a>

						<!-- Mobile Nav toggler -->
						<div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Header Lower -->

		<!-- Mobile Menu  -->
		<div class="mobile-menu">
			<div class="menu-backdrop"></div>

			<!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
			<nav class="menu-box">
				<div class="upper-box">
					<div class="nav-logo"><a href="/"><img src="/static/images/logo.png" alt="" width="180" title="VSTech Limited"></a></div>
					<div class="close-btn"><i class="icon fa fa-times"></i></div>
				</div>

				<ul class="navigation clearfix">
					<!--Keep This Empty / Menu will come through Javascript-->
				</ul>
				<ul class="contact-list-one">
					{% if request.user.is_authenticated %}
						<li>
							<div class="contact-info-box">
								<i class="icon fa fa-power-off" aria-hidden="true"></i>
								<span class="title">Account</span>
								<a href="">Profile</a>
							</div>
						</li>
						<li>
							<div class="contact-info-box">
								<i class="icon fa fa-power-off" aria-hidden="true"></i>
								<span class="title">Account</span>
								<a href="{% url 'account_logout' %}">Logout</a>
							</div>
						</li>
					{% else %}				
						<li>
							<div class="contact-info-box">
								<i class="icon fa fa-user-plus" aria-hidden="true"></i>
								<span class="title">Account</span>
								<a href="{% url 'account_signup' %}">Register</a>
							</div>
						</li>
						<li>
							<div class="contact-info-box">
								<i class="icon fa fa-user-circle" aria-hidden="true"></i>
								<span class="title">Account</span>
								<a href="{% url 'account_login' %}">Login</a>
							</div>
						</li>
					{% endif %}
					<li>
						<!-- Contact Info Box -->
						<div class="contact-info-box">
							<i class="icon lnr-icon-phone-handset"></i>
							<span class="title">Call Now</span>
							<a href="tel:{{ about.phone_number|default:'+254795067776' }}">{{ about.phone_number|default:'+254795067776' }}</a>
						</div>
					</li>
					<li>
						<!-- Contact Info Box -->
						<div class="contact-info-box">
							<span class="icon lnr-icon-envelope1"></span>
							<span class="title">Send Email</span>
							<a href="mailto:{{ about.email|default:'o.jeff3.a@gmail.com' }}">{{ about.email|default:'o.jeff3.a@gmail.com' }}</a>
						</div>
					</li>
					<li>
						<!-- Contact Info Box -->
						<div class="contact-info-box">
							<span class="icon lnr-icon-clock"></span>
							<span class="title">Opened</span>
							Sun - Fri 24hrs, Saturday - CLOSED
						</div>
					</li>
					<li>
						<div class="form-check form-switch px-4">
							<label class="form-check-label my-0 py-0" for="flexSwitchCheckChecked">Dark Theme</label>
							<input class="form-check-input my-0 py-0" type="checkbox" role="switch" id="flexSwitchCheckChecked">
						</div>
					</li>
				</ul>


				<ul class="social-links">
					<li><a href="{{ about.twitter|default:'https://twitter.com/vstech_ltd' }}"><span class="fab fa-twitter"></span></a></li>
					<li><a href="{{ about.facebook|default:'https://fb.com' }}"><span class="fab fa-facebook-square"></span></a></li>
					<li><a href="{{ about.linkedin|default:'https://linkedin.com/company/vstech-ltd/' }}"><span class="fab fa-linkedin"></span></a></li>
					<li><a href="{{ about.youtube|default:'https://www.youtube.com/channel/UCkedAOBJuj9d0cvTKFzWqmA?sub_confirmation=1' }}"><span class="fab fa-youtube"></span></a></li>
				</ul>
			</nav>
		</div><!-- End Mobile Menu -->

		<!-- Header Search -->
		<div class="search-popup">
			<span class="search-back-drop"></span>
			<button class="close-search"><span class="fa fa-times"></span></button>

			<div class="search-inner">
				<form method="get" action="{% url 'search' %}">
					<div class="form-group">
						<input type="search" name="q" placeholder="Search..." required>
						<button type="submit"><i class="fa fa-search"></i></button>
					</div>
				</form>
			</div>
		</div>
		<!-- End Header Search -->

		<!-- Sticky Header  -->
		<div class="sticky-header">
			<div class="auto-container">
				<div class="inner-container">
					<!--Logo-->
					<div class="logo">
						<a href="/" title="VSTech Limited"><img src="/static/images/logo-2.png" alt="" title="VSTech Limited"></a>
					</div>

					<!--Right Col-->
					<div class="nav-outer">
						<!-- Main Menu -->
						<nav class="main-menu">
							<div class="navbar-collapse show collapse clearfix">
								<ul class="navigation clearfix">
									<!--Keep This Empty / Menu will come through Javascript-->
								</ul>
							</div>
						</nav><!-- Main Menu End-->

						<!--Mobile Navigation Toggler-->
						<div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
					</div>
				</div>
			</div>
		</div><!-- End Sticky Menu -->
	</header>
	<!--End Main Header -->