{% extends 'shop/base.html' %}
{% block title %}{{ title }} - {{ category }} - VSTech Limited {% endblock %}
{% block meta %}

{% endblock %}
{% block content %}
	<!--checkout Start-->
	<section>
		<div class="container pt-70">
		<div class="section-content">
			<div id="checkout-form" action="#">
			<div class="row mt-30">
				<div class="col-md-6">
				<div class="billing-details">
					<h3 class="mb-30">Billing Details</h3>
                    <form action="" method="POST">
                        <div class="row">
                            {% csrf_token %}
                            <div class="mb-3 col-md-6">
                                <label for="checkuot-form-fname">{{ form.first_name.label_tag }}</label>
                                <input id="checkuot-form-fname" type="text" class="form-control" placeholder="First Name*" name="{{ form.first_name.name }}" required>
                                <span class="text-danger">{{ form.first_name.errors }}</span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="checkuot-form-lname">{{ form.last_name.label_tag }}</label>
                                <input id="checkuot-form-lname" type="text" class="form-control" placeholder="Last Name*" name="{{ form.last_name.name }}" required>
                                <span class="text-danger">{{ form.last_name.errors }}</span>
                            </div>
							<div class="mb-3 col-md-6">
								<label for="checkuot-form-cname">{{ form.email.label_tag }}</label>
								<input id="checkuot-form-cname" type="email" class="form-control" placeholder="Email Address*" name="{{ form.email.name }}" required>
								<span class="text-danger">{{ form.email.errors }}</span>
							</div>
							<div class="mb-3 col-md-6">
								<label for="checkuot-form-cname">{{ form.phone_number.label_tag }}</label>
								<input id="checkuot-form-cname" type="tel" class="form-control" placeholder="Phone Number*" name="{{ form.phone_number.name }}" required>
								<small class="small">To be used to reach out during delivery</small>
								<span class="text-danger">{{ form.phone_number.errors }}</span>
							</div>
							<div class="col-md-12">
                                <div class="mb-3">
                                    <label for="checkuot-form-address">{{ form.address.label_tag }}</label>
                                    <input id="checkuot-form-address" type="text" class="form-control" placeholder="Physical Address*" name="{{ form.address.name }}">
                                    <span class="text-danger">{{ form.address.errors }}</span>
                                </div>
                                <div class="mb-3">
                                    <label for="checkuot-form-postal-code">{{ form.postal_code.label_tag }}</label>
                                    <input id="checkuot-form-postal-code" type="text" class="form-control" placeholder="Postal Code (optional)" name="{{ form.postal_code.name }}">
                                    <span class="text-danger">{{ form.postal_code.errors }}</span>
                                </div>
                                <div class="mb-3">
                                    <h3>Additional information</h3>
                                    <label for="order_comments">Order notes <span class="optional">(optional)</span></label>
                                    <textarea id="order_comments" name="{{ form.additional_information.name }}" class="form-control" placeholder="Notes about your order, e.g. special notes for delivery." rows="3"></textarea>
                                    <span class="text-danger">{{ form.additional_information.errors }}</span>
                                </div>
                                <input class="theme-btn btn-style-one" type="submit" value="Place order">
                            </div>
                        </div>
                    </form>
                    
				</div>
				</div>
				<div class="col-md-6">
                    <div class="payment-method">
						<h3>Choose a Payment Method</h3>
						<ul class="accordion-box">
							<!-- <li class="accordion block active-block">
								<div class="acc-btn active">
									<div class="icon-outer"><i class="lnr-icon-chevron-down"></i></div>
									Credir Card / Debit Card
								</div>
								<div class="acc-content current">
									<div class="payment-info">
										<div class="row clearfix">
											<div class="col-lg-6 col-md-6 col-sm-12 column">
												<div class="field-input mb-3">
													<input type="text" class="form-control" name="name" placeholder="Name on the Card" required="">
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-12 column">
												<div class="field-input mb-3">
													<input type="text" class="form-control" name="number" placeholder="Card Number" required="">
												</div>
											</div>
											<div class="col-lg-3 col-md-6 col-sm-12 column">
												<div class="field-input mb-3">
													<input type="text" class="form-control" name="date" placeholder="Expiry Date" required="">
												</div>
											</div>
											<div class="col-lg-3 col-md-6 col-sm-12 column">
												<div class="field-input mb-3">
													<input type="text" class="form-control" name="code" placeholder="Security Code" required="">
												</div>
											</div>
											<div class="col-lg-6 col-md-12 col-sm-12 column">
												<div class="field-input message-btn">
													<button type="submit" class="theme-btn btn-style-one" data-loading-text="Please wait..."><span class="btn-title">Make Payment</span></button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="accordion block">
								<div class="acc-btn">
									<div class="icon-outer"><i class="lnr-icon-chevron-down"></i></div>
									Direct Bank Transfer
								</div>
								<div class="acc-content">
									<div class="payment-info">
										<p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
									</div>
								</div>
							</li> -->
							<li class="accordion block">
								<div class="acc-btn">
									<div class="icon-outer"><i class="lnr-icon-chevron-down"></i></div>
									M-Pesa Payment
								</div>
								<div class="acc-content">
									<div class="payment-info">
										<p class="mb-0">How to make the M-Pesa or Visa payment to be communicated via the provided number.</p>
									</div>
								</div>
							</li>
							<li class="accordion block">
								<div class="acc-btn">
									<div class="icon-outer"><i class="lnr-icon-chevron-down"></i></div>
									Cash Payment
								</div>
								<div class="acc-content">
									<div class="payment-info">	
										<p class="mb-0">Cash payment will be accepted upon delivery.</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
            
				<div class="col-md-12 mt-30">
				<h3>Your order</h3>
				<table class="table table-striped table-bordered tbl-shopping-cart">
					<thead>
					<tr>
						<th>Photo</th>
						<th>Product Name</th>
						<th>Total</th>
					</tr>
					</thead>
					<tbody>
                        {% if cart %}
                            {% for item in cart %}
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="{{ item.product.get_absolute_url }}">
                                            <img alt="product" src="{% if item.product.image %}{{ item.product.image.url }}{% else %}/static/images/resource/products/1.jpg{% endif %}">
                                        </a>
                                    </td>
                                    <td class="product-name"><a href="{{ item.product.get_absolute_url }}">{{ item.product.title }}</a> x {{ item.quantity }}</td>
                                    <td class="text-right"><span class="amount">Ksh. {{ item.total_price }}</span></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="3" class="product-thumbnail">No Item in Cart</td>
                            </tr>
                        {% endif %}
					
					<!-- <tr>
						<td>Cart Subtotal</td>
						<td>&nbsp;</td>
						<td>$180.00</td>
					</tr>
					<tr>
						<td>Shipping and Handling</td>
						<td>&nbsp;</td>
						<td>Free Shipping</td>
					</tr> -->
					<tr class="text-right">
						<td>Order Total</td>
						<td>&nbsp;</td>
						<td>Ksh. {{ cart.get_total_price }}</td>
					</tr>
					</tbody>
				</table>
				</div>
			</div>
        </div>
		</div>
		</div>
	</section>

{% endblock %}
{% block js %}
	{% include 'shop/partials/js.html' %}
{% endblock %}