<!DOCTYPE html>
<html lang="en">

<!-- index,  18:17:52 GMT -->
<head>
	<script src="https://www.googleoptimize.com/optimize.js?id=OPT-WNRBR7N"></script>
	    <!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=AW-10926755664"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
	
			gtag('config', 'AW-10926755664');
		</script>
			<!-- Google tag (gtag.js) -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-99WZSD0FEW"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag() { dataLayer.push(arguments); }
				gtag('js', new Date());
		
				gtag('config', 'G-99WZSD0FEW');
			</script>
			<!-- Google Tag Manager -->
			<script>(function (w, d, s, l, i) {
					w[l] = w[l] || []; w[l].push({
						'gtm.start':
							new Date().getTime(), event: 'gtm.js'
					}); var f = d.getElementsByTagName(s)[0],
						j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
							'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
				})(window, document, 'script', 'dataLayer', 'GTM-TQNSKV7');</script>
			<!-- End Google Tag Manager -->
	{% include 'partials/home_meta.html' %}

	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css">
	<link href="/static/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css">
	<link href="/static/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css">

	<link href="/static/css/style.css" rel="stylesheet">
	<link href="/static/css/responsive.css" rel="stylesheet">

	<!-- Dark Theme -->
{% if request.user.is_authenticated and request.user.preferences.theme == 'dark' %}
    <link href="/static/css/style-dark.css" id="themeLink" rel="stylesheet">
{% else %}
    <link href="" id="themeLink" rel="stylesheet">
{% endif %}

	<link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
	<link rel="icon" href="/static/images/favicon.png" type="image/x-icon">


</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQNSKV7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page-wrapper">

	<!-- Preloader -->
	<!-- <div class="preloader"></div> -->

    {% include 'partials/top-nav.html' %}
	{% include 'partials/messages.html' %}
	<!--Main Slider-->
	<section class="main-slider">
		<div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
			<div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
				<ul>
					<!-- Slide 1 -->
					<li data-index="rs-1" data-transition="zoomout">
						<!-- MAIN IMAGE -->
						<img src="/static/images/main-slider/1.png" alt="" class="rev-slidebg">

						<div class="tp-caption tp-resizeme rs-parallaxlevel-3 hidden-mobile"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="shape"
						data-height="none"
						data-whitespace="nowrap"
						data-width="none"
						data-hoffset="['-270','-190','-60','-190']"
						data-voffset="['160','160','180','160']"
						data-x="['center','center','center','center']"
						data-y="['middle','middle','middle','middle']"
						data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
							<figure><img src="/static/images/main-slider/arrow.png" alt=""></figure>
						</div>

						<div class="tp-caption"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['750','750','750','650']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['-190','-190','-190','-200']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<span class="title">Maximize Productivity</span>
						</div>

						<div class="tp-caption"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[15,15,15,15]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['750','750','750','650']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['-50','-50','-50','-80']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<h1>Empowering Businesses<span class="color2">.</span></h1>
						</div>

						<div class="tp-caption"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['750','750','750','450']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['90','90','90','65']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<div class="text">VSTech Limited revolutionizes productivity with innovative software solutions tailored to your needs. Maximize efficiency and empower your business.</div>
						</div>


						<div class="tp-caption" data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[15,15,15,15]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['700','750','700','450']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['185','185','200','185']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<a href="{% url 'about' %}" class="theme-btn btn-style-one"><span class="btn-title">Discover more</span></a>
						</div>
					</li>

					<!-- Slide 2 -->
					<li data-index="rs-2" data-transition="zoomin">
						<!-- MAIN IMAGE -->
						<img src="/static/images/main-slider/2.png" alt="" class="rev-slidebg">

						<div class="tp-caption tp-resizeme rs-parallaxlevel-3 hidden-mobile"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="shape"
						data-height="none"
						data-whitespace="nowrap"
						data-width="none"
						data-hoffset="['-270','-190','-60','-190']"
						data-voffset="['160','160','180','160']"
						data-x="['center','center','center','center']"
						data-y="['middle','middle','middle','middle']"
						data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
							<figure><img src="/static/images/main-slider/arrow.png" alt=""></figure>
						</div>

						<div class="tp-caption"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['750','750','750','650']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['-190','-190','-190','-200']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<span class="title">Tailored for You</span>
						</div>

						<div class="tp-caption"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[15,15,15,15]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['750','750','750','650']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['-50','-50','-50','-80']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<h1>Success <br><span class="color2">for</span> Businesses</h1>
						</div>

						<div class="tp-caption"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['750','750','750','450']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['90','90','90','65']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<div class="text">VSTech Limited crafts custom software solutions for your success. Our tailored approach boosts efficiency and drives growth.</div>
						</div>


						<div class="tp-caption" data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[15,15,15,15]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['700','750','700','450']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['185','185','200','185']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<a href="{% url 'about' %}" class="theme-btn btn-style-one"><span class="btn-title">Discover more</span></a>
						</div>
					</li>

				</ul>
			</div>
		</div>
	</section>
	<!-- End Main Slider-->

	<!-- About Section -->
	<section class="about-section pt-0">

		<!-- Features Section -->
		<div class="features-section pull-up pt-0">
			<div class="auto-container">
				<div class="outer-box">
					<div class="row">
						<!-- Feature Block -->
						<div class="feature-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
							<div class="inner-box ">
								<div class="title-box">
									<i class="icon flaticon-business-002-graph"></i>
									<h5 class="title"><a href="{% url 'about' %}">Perfect Business Solutions</a></h5>
								</div>
								<div class="text">We offer services to businesses <br>
									tailored to their specific needs</div>
							</div>
						</div>

						<!-- Feature Block -->
						<div class="feature-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
							<div class="inner-box ">
								<div class="title-box">
									<i class="icon flaticon-business-012-startup"></i>
									<h5 class="title"><a href="{% url 'about' %}">Innovative Solutions</a></h5>
								</div>
								<div class="text">Innovative solutions for a smarter future
									transforming the world, one solution at a time.</div>
							</div>
						</div>

						<!-- Feature Block -->
						<div class="feature-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
							<div class="inner-box ">
								<div class="title-box">
									<i class="icon flaticon-business-046-like"></i>
									<h5 class="title"><a href="{% url 'about' %}">Satisfied Clients</a></h5>
								</div>
								<div class="text">Client satisfaction <br>
									is our number one priority</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Features Section-->

		<div class="auto-container">
			<div class="row">
				<div class="content-column col-xl-6 col-lg-7 col-md-12 col-sm-12 order-2 wow fadeInRight" data-wow-delay="600ms">
					<div class="inner-column">
						<div class="sec-title">
							<span class="sub-title">About Our Company</span>
							<h2>ITS TIME TO GET STARTED!</h2>
							<div class="text">
								VSTech is a leading software company providing innovative solutions for maximizing productivity and efficiency. With a focus on quality, we offer customized software solutions for various industries. Our goal is to deliver advanced and efficient software, tailored to each client's needs.
							</div>
						</div>

						<div class="content-box">
							<div class="info-box">
								<h5 class="title">High Quality IT Solutions for Startup</h5>
								<a href="{% url 'project:list' %}" class="read-more">More <i class="fa fa-long-arrow-alt-right"></i></a>
							</div>

							<div class="about-block">
								<i class="icon flaticon-business-018-startup"></i>
								<h5 class="title">Mission </h5>
								<div class="text">To provide innovative and modern tech solutions that have a positive impact on society in order to promote business growth and value addition to all.</div>
							</div>

							<div class="about-block">
								<i class="icon flaticon-business-027-world"></i>
								<h5 class="title">Vision</h5>
								<div class="text">To lead the world into a new era of technological exploration and discoveries..</div>
							</div>

						</div>

						<div class="btm-box">
							<a href="{% url 'about' %}" class="theme-btn btn-style-one"><span class="btn-title">Discover more</span></a>
						</div>
					</div>
				</div>

				<!-- Image Column -->
				<div class="image-column col-xl-6 col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column wow fadeInLeft">
						<figure class="image-1 overlay-anim wow fadeInUp"><img src="/static/images/resource/about-1.jpg" alt=""></figure>
						<figure class="image-2 overlay-anim wow fadeInRight"><img src="/static/images/resource/about-2.jpg" alt=""></figure>
						<div class="experience bounce-y">
							<img src="/static/images/resource/image-1.jpg" alt="" class="icon">
							<strong>3600+</strong> Satisfied Client
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Emd About Section -->
{% if services %}
	<!-- Services Section -->
	<section class="services-section">
		<div class="auto-container">
			<div class="sec-title text-center">
				<span class="sub-title">Services we’re offering</span>
				<h2>High quality products and services<br> that we stand behind</h2>
			</div>

			<div class="row">
				<!-- Service Block -->
				{% for service in services %}
					<div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
						<div class="inner-box">
							<div class="image-box">
								<figure class="image"><a href="{{ service.get_absolute_url }}"><img src="{% if service.front_image %}{{ service.front_image.url }}{% else %}/static/images/resource/service-1.jpg{% endif %}" alt="{{ service }}" title="{{ service }}"></a></figure>
								<div class="icon-box"><i class="{% if service.icon %}{{ service.icon }}{% else %}icon flaticon-business-010-startup{% endif %}"></i></div>
							</div>
							<div class="content-box">
								<h5 class="title"><a href="{{ service.get_absolute_url }}">{{ service.title }}</a></h5>
								<div class="text">{{ service.description|truncatechars:100 }}</div>
								<a href="{{ service.get_absolute_url }}" class="read-more">read More <i class="fa fa-long-arrow-alt-right"></i></a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- End Services Section-->
{% endif %}
	<!-- Offer Section -->
	<section class="offer-section">
		<div class="auto-container">
			<div class="row">
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12">
					<div class="inner-column">
						<div class="sec-title light">
							<span class="sub-title">Tech management</span>
							<h2>The Best Source for IT Solutions</h2>
							<div class="text">We are the premier provider of cutting-edge IT solutions, dedicated to helping businesses stay ahead in the digital age.</div>
						</div>
						<div class="info-box">
							<i class="icon flaticon-business-036-idea"></i>
							<h5 class="title">We’re doing the right thing.<br> The right way.</h5>
						</div>
						<ul class="list-style-two">
							<li><i class="fa fa-check-circle"></i> Wide range of IT products and services.</li>
							<li><i class="fa fa-check-circle"></i> Provides excellent customer service and support.</li>
							<li><i class="fa fa-check-circle"></i> Delivers solutions that meet specific business needs.</li>
						</ul>
					</div>
				</div>

				<!-- Content Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image-box">
							<figure class="image"><img src="/static/images/resource/image-3.jpg" alt=""></figure>
							<div class="caption-box wow slideInRight">
								<div class="icon-box">
									<a href="https://youtu.be/Oz-SvGZsTNc" class="play-now-two lightbox-image"><i class="icon fa fa-play"></i></a>
								</div>
								<div class="title-box">
									<h5 class="title">Professional IT technology services you can trust</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Offer Section -->

	<!-- Call To Action Two -->
	<section class="call-to-action" style="background-image: url(/static/images/background/1.jpg)">
		<div class="auto-container">
			<div class="title-box">
				<div class="icon bounce-y"><img src="/static/images/resource/icon-logo.png" alt=""></div>
				<h1 class="title">IT Solutions & Services <br>at your Fingertips</h1>
				<a href="{% url 'services:list' %}" class="theme-btn btn-style-one"><span class="btn-title">Discover more</span></a>
			</div>
		</div>
	</section>
	<!--End Call To Action Two -->
{% include 'partials/projects/1.html' %}

	<!-- Testimonial Section -->
	<section class="testimonial-section">
		{% if testimonies %}
		<div class="auto-container">
			<div class="sec-title">
				<span class="sub-title">Our feedbacks</span>
				<h2>What They Say<br> About Our Company</h2>
			</div>
			<div class="testimonials">
				<!-- Swiper -->
				<div class="swiper-container testimonial-content">
					<div class="swiper-wrapper"> 
						{% for testimony in testimonies %}
						<!-- Testimonial Block Two -->
						<div class="testimonial-block swiper-slide">
							<div class="row">
								<div class="content-column col-lg-6 col-md-12">
									<div class="icon-box">
										<span class="icon icon-quote"></span>
										<div class="rating">
											{% for star in "*****" %}
												{% if forloop.counter <= testimony.rating %}
													<i class="fas fa-star"></i>
												{% else %}
													<i class="far fa-star"></i>
												{% endif %}
											{% endfor %}
										</div>
									</div>
									<div class="text">
										{{ testimony.message|linebreaks }}
									</div>
									<div class="info-box">
										<h4 class="name">{{ testimony.author.get_full_name|default:'No Name' }}</h4>
										<span class="designation">{{ testimony.position }}</span>
									</div>
								</div>
								<div class="image-column col-lg-6 col-md-12">
									<figure class="image" >
										<img class="rounded rounded-circle" src="
											{% if testimony.author.profile.image %}
												{{ testimony.author.profile.image.url }}
											{% else %}
												{% if testimony.author.profile.gender == 'male' %}
													/static/sb/img/undraw_profile_2.svg
												{% elif testimony.author.profile.gender == 'female' %}
													/static/sb/img/undraw_profile_1.svg
												{% else %}
													/static/sb/img/undraw_profile.svg
												{% endif %}
											{% endif %}" alt="{{ testimony.name }}" title="{{ testimony.name }}">
									</figure>
								</div>
							</div>
						</div>
						{% endfor %}


						<!-- Add Pagination -->
						<div class="testimonial-pagination"></div>
					</div>
				</div>

				<!-- Testimonial Thumbs -->
				<div class="swiper-container testimonial-thumbs">
					<div class="swiper-wrapper">
						{% for testimony in testimonies %}
							<div class="swiper-slide testimonial-thumb">
								<figure class="image">
									<img class="rounded rounded-circle" src="
										{% if testimony.author.profile.image %}
											{{ testimony.author.profile.image.url }}
										{% else %}
											{% if testimony.author.profile.gender == 'male' %}
												/static/sb/img/undraw_profile_2.svg
											{% elif testimony.author.profile.gender == 'female' %}
												/static/sb/img/undraw_profile_1.svg
											{% else %}
												/static/sb/img/undraw_profile.svg
											{% endif %}
										{% endif %}" alt="{{ testimony.name }}" title="{{ testimony.name }}">
								</figure>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</section>
	<!-- End Testimonial Section -->

	<!-- Fun Fact Section -->
	<section class="fun-fact-section">
		<div class="auto-container">
			<div class="fact-counter">
				<div class="row">
					<!-- Counter block-->
					<div class="counter-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
						<div class="inner">
							<i class="icon flaticon-business-060-graph"></i>
							<div class="count-box"><span class="count-text" data-speed="3000" data-stop="57">0</span></div>
							<h6 class="counter-title">Project completed</h6>
						</div>
					</div>

					<!--Counter block-->
					<div class="counter-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
						<div class="inner">
							<i class="icon flaticon-business-035-helpline"></i>
							<div class="count-box"><span class="count-text" data-speed="3000" data-stop="10">0</span></div>
							<h6 class="counter-title">IT specialists</h6>
						</div>
					</div>

					<!--Counter block-->
					<div class="counter-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
						<div class="inner">
							<i class="icon flaticon-business-020-hierarchy"></i>
							<div class="count-box"><span class="count-text" data-speed="3000" data-stop="60">0</span></div>
							<h6 class="counter-title">Satisfied clients</h6>
						</div>
					</div>

					<!--Counter block-->
					<div class="counter-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="900ms">
						<div class="inner">
							<i class="icon flaticon-business-048-coin"></i>
							<div class="count-box"><span class="count-text" data-speed="3000" data-stop="23">0</span></div>
							<h6 class="counter-title">Smart solutions</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Fun Fact Section -->

	<!-- Team Section -->
	<section class="team-section pt-0 pb-0">
		<div class="anim-icons">
			<span class="icon icon-lines bounce-x"></span>
			<span class="icon icon-dots bounce-y"></span>
		</div>
		<div class="auto-container">
			<div class="sec-title text-center">
				<span class="sub-title">Our feedbacks</span>
				<h2>EXPERTS READY TO SURVE</h2>
			</div>

			<div class="row">
				{% if teams %}
					{% for team in teams %}
						<!-- Team Block -->
						<div class="team-block col-lg-4 col-md-6 col-sm-12">
							<div class="inner-box mb-md-30">
								<div class="image-box">
									<figure class="image"><a href="{{ team.get_absolute_url }}"><img src="{% if team.image %}{{ team.image.url }}{% else %}/static/images/resource/team-1.jpg{% endif %}" alt="{{ team.user.get_full_name|default:'No Name'  }}"></a></figure>
								</div>
								<div class="info-box">
									<h5 class="name"><a href="{{ team.get_absolute_url }}">{{ team.user.get_full_name|default:'No Name' }}</a></h5>
									<span class="designation">{{ team.rank|default:'Member' }}</span>
									<ul class="social-links">
										{% if team.user.email %} 
											<li><a href="mailto:{{ team.user.email }}"><i class="fa fa-envelope"></i></a></li>
										{% endif %}
										{% if team.user.profile.phone_number %} 
											<li><a href="tel:{{ team.user.profile.phone_number }}"><i class="fa fa-phone"></i></a></li>
										{% endif %}
										{% if team.user.profile.twitter %} 
											<li><a href="{{ team.user.profile.twitter }}"><i class="fab fa-twitter"></i></a></li>
										{% endif %}
										{% if team.user.profile.linkedin %}
											<li><a href="{{ team.user.profile.linkedin }}"><i class="fab fa-linkedin"></i></a> </li>
										{% endif %}
										{% if team.user.profile.instagram %}
											<li><a href="{{ team.user.profile.instagram }}"><i class="fab fa-instagram"></i></a> </li>
										{% endif %}
									</ul>
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
				<div class="alert alert-info">
					<p class="text-center font-weight-bold">No Team Provided</p>
				</div>
				{% endif %}
			</div>
		</div>
	</section>
	<!-- End Team Section -->
{% include 'partials/clients/1.html' %}
	<!-- FAQ Section -->
	<section class="faqs-section">

		<div class="auto-container">
			<div class="row">
				{% if faqs %}
				<!-- FAQ Column -->
				<div class="faq-column col-lg-6 col-md-12 col-sm-12 order-4">
					<div class="faq-bg" style="background-image: url(/static/images/icons/pattern-2.jpg)"></div>
					<div class="inner-column">
						<div class="sec-title">
							<span class="sub-title">Questions & answers</span>
							<h2>See Frequently Asked Questions</h2>
						</div>

						<ul class="accordion-box wow fadeInRight">
							<!--Block-->
							<li class="accordion block active-block">
								<div class="acc-btn active">What is your Team's Experience in developing mobile application?
									<div class="icon fa fa-plus"></div>
								</div>
								<div class="acc-content current">
									<div class="content">
										<div class="text">We also have extensive experience in developing mobile applications and are equipped to handle large projects. Our rates are competitive and depend on the scope of the project</div>
									</div>
								</div>
							</li>
							{% for faq in faqs %}
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn">{{ faq.question }}
									<div class="icon fa fa-plus"></div>
								</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">{{ faq.answer|linebreaks }}</div>
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				{% endif %}
				<!-- Form Column -->
				<div class="form-column col-lg-6 col-md-12 col-sm-12">
					<div class="form-bg" style="background-image: url(/static/images/background/3.jpg)"></div>
					<div class="inner-column">
						<!-- Contact Form -->
						<div class="contact-form wow fadeInLeft">
							<div class="title-box">
								<span class="sub-title">Contact us</span>
								<h3>Write Email</h3>
							</div>

							<!--Contact Form-->
							<form method="post" action="{% url 'contact' %}" id="contact-form">
								{% csrf_token %}
								<div class="form-group">
									<input type="text" name="full_name" placeholder="Your Name" required>
								</div>

								<div class="form-group">
									<input type="text" name="user_email" placeholder="Email Address" required>
								</div>

								<div class="form-group">
									<input type="text" name="phone" placeholder="Phone Number" required>
								</div>

								<div class="form-group">
									<textarea name="message" placeholder="Write a Message" required></textarea>
								</div>

								<div class="form-group">
									<button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="btn-title">Send a message</span></button>
								</div>
							</form>
						</div>
						<!--End Contact Form -->

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End FAQ Section -->
	{% include 'partials/blogs.html' %}
	<!-- Call To Action Two -->
	<section class="call-to-action-two p-0">
		<div class="auto-container">
			<div class="outer-box wow fadeIn">
				<!-- Image Box -->
				<div class="image-box">
					<figure class="image"><img src="/static/images/resource/image-2.jpg" alt=""></figure>
				</div>
				<!-- Content Box -->
				<div class="content-box">
					<div class="title-box">
						<h3 class="title">We’re Ready <br>Develop Your Site!</h3>
					</div>
					<div class="btn-box">
						<a href="{% url 'about' %}" class="theme-btn btn-style-two hvr-light"><span class="btn-title">More Services</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Call To Action Two -->

	{% include 'partials/map.html' %}


		{% include 'partials/footer.html' %}

		</div><!-- End Page Wrapper -->

		<!-- Scroll To Top -->
		<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

		<script src="/static/js/jquery.js"></script> 
		<script src="/static/js/popper.min.js"></script>
		<!--Revolution Slider-->
		<script src="/static/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
		<script src="/static/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
		<script src="/static/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
		<script src="/static/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
		<script src="/static/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
		<script src="/static/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
		<script src="/static/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
		<script src="/static/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
		<script src="/static/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
		<script src="/static/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
		<script src="/static/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
		<script src="/static/js/main-slider-script.js"></script>
		<!--Revolution Slider-->
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/jquery.fancybox.js"></script>
		<script src="/static/js/jquery-ui.js"></script>
		<script src="/static/js/wow.js"></script>
		<script src="/static/js/appear.js"></script>
		<script src="/static/js/select2.min.js"></script>
		<script src="/static/js/swiper.min.js"></script>
		<script src="/static/js/owl.js"></script>
		<script src="/static/js/script.js"></script>

		{% include 'partials/theme-script.html' %}
		{% include 'partials/chat-bot.html' %}
	</body>
</html>
