<!DOCTYPE html>
<html lang="en">

<!-- index-5,  18:21:25 GMT -->
<head>
	<script src="https://www.googleoptimize.com/optimize.js?id=OPT-WNRBR7N"></script>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-10926755664"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'AW-10926755664');
	</script>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-99WZSD0FEW"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());
	
			gtag('config', 'G-99WZSD0FEW');
		</script>
		<!-- Google Tag Manager -->
		<script>(function (w, d, s, l, i) {
				w[l] = w[l] || []; w[l].push({
					'gtm.start':
						new Date().getTime(), event: 'gtm.js'
				}); var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
						'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-TQNSKV7');</script>
		<!-- End Google Tag Manager -->
	{% include 'partials/home_meta.html' %}
<!-- Stylesheets -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/responsive.css" rel="stylesheet">

<!-- Dark Theme -->
{% if request.user.is_authenticated and request.user.preferences.theme == 'dark' %}
    <link href="/static/css/style-dark.css" id="themeLink" rel="stylesheet">
{% else %}
    <link href="" id="themeLink" rel="stylesheet">
{% endif %}

<link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/static/images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQNSKV7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page-wrapper">

	<!-- Preloader -->
	<!-- <div class="preloader"></div> -->

	<!-- Main Header-->
	<header class="main-header header-style-five">
		<!-- Header Lower -->
		<div class="header-lower">
			<!-- Main box -->
			<div class="main-box">
				<div class="logo-box">
					<div class="logo"><a href="/"><img src="/static/images/logo.png" alt="" width="180" title="VSTech Limited"></a></div>
				</div>

				<!--Nav Box-->
				<div class="nav-outer">

					<nav class="nav main-menu">
						<ul class="navigation">
							<li class="{% if title == 'Homepage' %}current{% endif %}"><a href="/">Home</a></li>
							<li class="dropdown {% if title == 'About Us' or title == 'Projects' or title == 'Team Members' or title == 'Testimonies' or title == 'FAQs' or title == 'Our Services' or category == 'services' or title == 'Contact Us' %}current{% endif %}"><a href="#">About</a>
								<ul>
									<li><a href="{% url 'about' %}">About</a></li>
									<li><a href="{% url 'project:list' %}">Projects</a></li>
									<li><a href="{% url 'users:team' %}">Team</a></li>
									<li><a href="{% url 'testimonies' %}">Testimonial</a></li>
									<li><a href="{% url 'services:list' %}">Services</a></li>
									<li><a href="{% url 'contact' %}">Contact</a></li>
									<!-- <li><a href="page-pricing.html">Pricing</a></li>
									<li><a href="page-pricing-switcher.html">Pricing Switcher</a></li> -->
									<li><a href="{% url 'faq' %}">FAQ</a></li>
									
								</ul>
							</li>
							<li class="{% if title == 'Your Ultimate Electronics Shop' or category == 'Our Shop' %}current{% endif %}"><a href="{% url 'shop:list' %}">Shop</a></li>
							<li class="{% if title == 'Blogs' or category == 'Blogs > Test Category' %}current{% endif %}"><a href="{% url 'blog:list' %}">Blogs</a></li>
							<li class="dropdown {% if title == 'Notes' or title == 'Add Documents' or title == 'My Documents' %}current{% endif %}"><a href="#">Academy</a>
								<ul>
									<li><a href="{% url 'edu:index' %}">All Resources</a></li>
									<li><a href="{% url 'edu:add_notes' %}">Add Notes</a></li>
									<li><a href="{% url 'edu:my-documents' %}">My Notes</a></li>									
								</ul>
							</li>
							<li class="dropdown {% if title == 'Generate Image' or title == 'Our Intelligent Chatbot' %}current{% endif %}"><a href="#">AI Tools</a>
								<ul>
									<li><a href="https://vstechwebapp.azurewebsites.net/" target="_blank">ChatBot</a></li>
									<li><a href="{% url 'ai:get_ideas' %}">Get Ideas</a></li>
									<li><a href="{% url 'ai:desc_to_image' %}">Description to Image</a></li>									
								</ul>
							</li>
							<li class="dropdown {% if title == 'Get Work Done' or title == 'Get Project Ideas' %}current{% endif %}"><a href="#">G.W.D</a>
								<ul>
									<li><a href="{% url 'gwd:index' %}">GWD Homepage</a></li>
									<li><a href="{% url 'gwd:dashboard' %}">Dashboard</a></li>
									<li><a href="{% url 'ai:get_ideas' %}">Get Ideas</a></li>
									<li><a href="{% url 'gwd:leave_project' %}">Leave a Project</a></li>
									<li><a href="{% url 'gwd:leave_assignment' %}">Leave Assignment</a></li>									
								</ul>
							</li>
							<li class="dropdown"><a href="#">Account</a>
								<ul>
									{% if request.user.is_authenticated %}
										<li><a href="">Profile</li>
										<li><a href="{% url 'account_logout' %}">Logout</a></li>
									{% else %}
										<li><a href="{% url 'account_login' %}">Login</a></li>
										<li><a href="{% url 'account_signup' %}">Register</a></li>
									{% endif %}
									<li class="p-2">
										<div class="form-check form-switch m-0">
											<label class="form-check-label my-0 py-0" for="flexSwitchCheckChecked">Dark Theme</label>
											<input class="form-check-input my-0 py-0" type="checkbox" {% if request.user.is_authenticated and request.user.preferences.theme == 'dark' %}checked{% endif %} role="switch" id="flexSwitchCheckChecked">
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
					<!-- Main Menu End-->


					<div class="outer-box">
						<div class="ui-btn-outer">
							<button class="ui-btn ui-btn search-btn">
								<span class="icon lnr lnr-icon-search"></span>
							</button>
							{% with total_items=cart|length %}
								<a href="{% url 'shop:cart' %}" class="ui-btn">
									<span class="d-flex no-wrap">
									<i class="lnr-icon-shopping-cart"></i>
									{% if total_items > 0 %}
										<sup class="text-success" style="font-size: 16px;">{{ total_items }}</sup>
									{% else %}
										<sup class="text-danger" style="font-size: 16px;">0</sup>
									{% endif %}
									</span>
								</a>
							{% endwith %}
						</div>


						<a href="tel:{{ about.phone_number|default:'+254795067776' }}" class="info-btn">
							<i class="icon fa fa-phone"></i>
							<small>Call Anytime</small><br> {{ about.phone_number|default:'+254795067776' }}
						</a>

						<a href="/static/VSTech Portfolio.pdf" class="theme-btn btn-style-one"><span class="btn-title">View Profile</span></a>

						<!-- Mobile Nav toggler -->
						<div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Header Lower -->

		{% include 'partials/mobile_search_header.html' %}

	</header>
	<!--End Main Header -->
	{% include 'partials/messages.html' %}
	<!-- Banner Section Four-->
	<section class="banner-section-four">
		<div class="banner-carousel owl-carousel owl-theme">
			<!-- Slide Item -->
			<div class="slide-item">
				<div class="bg-image" style="background-image: url(/static/images/resource/image-1.jpg);"></div>
				<div class="auto-container">
					<div class="content-box">
						<h1 class="title animate-1">Maximize Productivity</h1>
						<div class="text animate-2">VSTech Limited revolutionizes productivity with innovative software solutions <br>tailored to your needs. Maximize efficiency and empower your business.</div>
						<div class="btn-box animate-3">
							<a href="{% url 'about' %}" class="theme-btn btn-style-one hvr-light"><span class="btn-title">Discover more</span></a>
						</div>
					</div>
				</div>
			</div>

			<!-- Slide Item -->
			<div class="slide-item">
				<div class="bg-image" style="background-image: url(/static/2.jpeg);"></div>
				<div class="auto-container">
					<div class="content-box">
						<h1 class="title animate-1">Tailored for You</h1>
						<div class="text animate-2">VSTech Limited crafts custom software solutions for your success. <br>Our tailored approach boosts efficiency and drives growth.</div>
						<div class="btn-box animate-3">
							<a href="{% url 'about' %}" class="theme-btn btn-style-one hvr-light"><span class="btn-title">Discover more</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--END Banner Section Four -->

	<!-- Features Section Six -->
	<section class="features-section-six">
		<div class="auto-container">
			<div class="row">
				<!-- Feature Block Six -->
				<div class="feature-block-six col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box ">
						<span class="icon">3+</span>
						<h3 class="title"><a href="{% url 'about' %}">years of Software<br>Development<br> & Training</a></h3>
						<a href="{% url 'services:list' %}" class="theme-btn btn-style-two small hvr-light"><span class="btn-title">Find Your Solution</span></a>
					</div>
				</div>

				<!-- Feature Block Six -->
				<div class="feature-block-six col-lg-4 hide-md ">
					<div class="inner-box ">
						<figure class="image"><img src="/static/images/resource/feature-bg-1.jpg" alt=""></figure>
					</div>
				</div>

				<!-- Feature Block Six -->
				<div class="feature-block-six col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box ">
						<span class="icon flaticon-business-030-settings"></span>
						<h3 class="title"><a href="#">Expert IT <br>Consultants <br>Available</a></h3>
						<a href="{% url 'services:list' %}" class="theme-btn btn-style-two small hvr-light"><span class="btn-title">Find Your Solution</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Features Section four -->

	<!-- About Section Five -->
	<section class="about-section-five style-two pt-0">
		<div class="auto-container">
			<div class="row">
				<div class="content-column col-xl-6 col-lg-6 col-md-12 order-2 wow fadeInRight"
					data-wow-delay="600ms">
					<div class="inner-column">
						<div class="sec-title">
							<span class="sub-title">Welcome to vstech</span>
							<h2>Experience the power of VSTech</h2>
							<div class="text">
								Empower your business with innovative web and mobile app development, support and maintenance, e-learning, hosting, consultation, and software development services. Experience the transformative power of technology for business growth.
							</div>
						</div>
						{% if services %}
							<ul class="list-style-three">
								{% for service in services %}
									<li>{{ service.title }}</li>
								{% endfor %}
							</ul>
						{% endif %}
						<div class="btn-box d-flex align-items-center">
							<a href="{% url 'about' %}" class="theme-btn btn-style-one"><span class="btn-title">Discover more</span></a>
							<a href="tel:{{ about.phone_number|default:'+254795067776' }}" class="info-btn">
								<i class="icon fa fa-phone"></i>
								<small>Call Anytime</small><br> {{ about.phone_number|default:'+254795067776' }}
							</a>
						</div>
					</div>
				</div>

				<!-- Image Column -->
				<div class="image-column col-xl-6 col-lg-6 col-md-12 ">
					<div class="inner-column">
						<div class="image-box">
							<figure class="image overlay-anim wow fadeInUp"><img src="/static/3.jpeg" alt=""></figure>
							<div class="experience">
								<strong>3</strong>
								<div class="text">Years <br>Experience</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Emd About Section Five -->

	<!-- Offer Section Four -->
	<section class="offer-section-four">
		<div class="auto-container">
			<div class="outer-box">
				<div class="row">
					<!-- Content Column -->
					<div class="content-column col-xl-5 col-lg-6 col-md-12">
						<div class="inner-column wow fadeInRight">
							<div class="sec-title">
								<span class="sub-title">Our Core Values</span>
								<h2>Always Exceed Your Expectation</h2>
							</div>
							<div class="info-box">
								<span class="count">01</span>
								<h5 class="title">Integrity</h5>
								<div class="text">
									We uphold the highest ethical standards in all our interactions, fostering trust and transparency with our clients, partners, and employees.							
								</div>
							</div>
							<div class="info-box">
								<span class="count">02</span>
								<h5 class="title">Professionalism</h5>
								<div class="text">
									We approach every project with professionalism, delivering high-quality solutions and maintaining clear communication throughout the process.
								</div>
							</div>
							<div class="info-box">
								<span class="count">03</span>
								<h5 class="title">Competence</h5>
								<div class="text">
									We continuously strive to enhance our skills and expertise, staying up to date with the latest technologies and industry trends to provide the best solutions to our clients.
								</div>
							</div>
						</div>
					</div>

					<!-- Content Column -->
					<div class="image-column col-xl-7 col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column wow fadeInLeft">
							<div class="image-box">
								<figure class="image"><img src="/static/images/resource/image-3.jpg" alt=""></figure>
								<div class="caption">Execute your Ideas from start</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Offer Section Four -->

	<!-- Industries Section -->
	<section class="industries-section style-two">
		<div class="auto-container">
			<div class="sec-title text-center light">
				<span class="sub-title">Services we’re offering</span>
				<h2>We’re Dedicated to Serve <br>you All Time</h2>
			</div>
			<div class="row justify-content-center">
				<!-- Feature Block Two -->
				<div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp">
					<div class="inner-box ">
						<i class="icon flaticon-business-011-dollar"></i>
						<h6 class="title"><a href="">Banking</a></h6>
					</div>
				</div>

				<!-- Feature Block Two -->
				<div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp">
					<div class="inner-box ">
						<i class="icon flaticon-business-049-presentation"></i>
						<h6 class="title"><a href="">Healthcare</a></h6>
					</div>
				</div>

				<!-- Feature Block Two -->
				<div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp">
					<div class="inner-box ">
						<i class="icon flaticon-business-061-meeting"></i>
						<h6 class="title"><a href="">Education</a></h6>
					</div>
				</div>

				<!-- Feature Block Two -->
				<div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp">
					<div class="inner-box ">
						<i class="icon flaticon-business-030-settings"></i>
						<h6 class="title"><a href="">Manufacturing</a></h6>
					</div>
				</div>

				<!-- Feature Block Two -->
				<div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp">
					<div class="inner-box ">
						<i class="icon flaticon-business-054-graph"></i>
						<h6 class="title"><a href="">Businesses</a></h6>
					</div>
				</div>

				<!-- Feature Block Two -->
				<div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp">
					<div class="inner-box ">
						<i class="icon flaticon-business-020-hierarchy"></i>
						<h6 class="title"><a href="">Networking</a></h6>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Industries Section -->
	{% if projects %}
	<!-- Project Section -->
	<section class="project-section alternate pb-0">
		<div class="auto-container">
			<div class="sec-title">
				<div class="row">
					<div class="col-lg-7">
						<span class="sub-title">recently Completed work</span>
						<h2>Improve & Enhance the <br>Tech Projects</h2>
					</div>
					<div class="col-lg-5">
						<div class="text">
							Our team excels at improving and enhancing tech projects. We optimize systems, refine functionalities, and introduce innovative solutions. Leveraging cutting-edge technologies, we ensure highly efficient and effective outcomes for our clients.
						</div>
					</div>
				</div>
			</div>

			<div class="carousel-outer">
				<!-- Prject Carousel -->
				<div class="project-carousel owl-carousel owl-theme">
					{% for project in projects %}
					<!-- Project Block -->
					<div class="project-block">
						<div class="inner-box">
							<div class="image-box">
								<figure class="image"><a href="{{ project.get_absolute_url }}" class="lightbox-image"><img src="{% if project.front_image %}{{ project.front_image.url }}{% else %}/static/images/resource/project-1.jpg{% endif %}" alt=""></a></figure>
								<a href="{{ project.get_absolute_url }}" class="icon"><i class="fa fa-long-arrow-alt-right"></i></a>
							</div>
							<div class="content-box">
								<h4 class="title"><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h4>
								<span class="cat">{{ project.category }}</span>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<!--End Project Section -->
{% endif %}
	<!-- Pricing Section -->
	<section class="pricing-section py-4">

	</section>
	<!-- End Offer Section Four -->
{% if services %}
	<!-- Services Section Four -->
	<section class="services-section-five" style="background-image: url(/static/images/background/5.jpg)">
		<div class="auto-container">
			<div class="sec-title light text-center">
				<span class="sub-title">Services we’re offering</span>
				<h2>We Provide our Clients <br>Best IT Services</h2>
			</div>

			<div class="row">
				{% for service in services %}
				<!-- Service Block Five -->
				<div class="service-block-five col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
					<div class="inner-box ">
						<div class="icon-box">
							<i class="icon {{ service.icon|default:'flaticon-business-010-startup' }}"></i>
						</div>
						<h4 class="title"><a href="{{ service.get_absolute_url }}">{{ service.title }}</a></h4>
						<div class="text">{{ service.description|truncatechars:60 }}</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- End Services Section Four-->
{% endif %}

	<!-- FAQ Section -->
	<section class="faqs-section style-two">
		<div class="auto-container">
			<div class="row">
				<!-- FAQ Column -->
				<div class="faq-column col-xl-6 col-lg-12 col-md-12 order-4">
					{% if faqs %}
					<div class="inner-column">
						<div class="sec-title">
							<span class="sub-title">Questions & answers</span>
							<h2>See Frequently Asked Questions</h2>
						</div>

						<ul class="accordion-box wow fadeInRight">
							<!--Block-->
							<li class="accordion block active-block">
								<div class="acc-btn active">What is your Team's Experience in developing mobile application?
									<div class="icon fa fa-plus"></div>
								</div>
								<div class="acc-content current">
									<div class="content">
										<div class="text">We also have extensive experience in developing mobile applications and are equipped to handle large projects. Our rates are competitive and depend on the scope of the project</div>
									</div>
								</div>
							</li>
							{% for faq in faqs %}
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn">{{ faq.question }}
									<div class="icon fa fa-plus"></div>
								</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">{{ faq.answer|linebreaks }}</div>
									</div>
								</div>
							</li>
						{% endfor %}
						</ul>
					</div>
					{% endif %}
				</div>

				<!-- image Column -->
				<div class="image-column col-xl-6 col-lg-12 col-md-12">
					<div class="inner-column">
						<figure class="image"><img src="/static/images/resource/image-1.jpg" alt=""></figure>
						<div class="info-box">
							<div class="inner">
								<span class="icon flaticon-business-063-diamond"></span>
								<h3 class="title">Trusted IT Solution<br> & Service Business Agency</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End FAQ Section -->
	
	{% if testimonies %}
	<!-- Testimonial Section Three -->
	<section class="testimonial-section-four">
		<div class="auto-container">
			<div class="row">
				<!-- Title Column -->
				<div class="title-column col-xl-5 col-lg-6 col-md-12">
					<div class="inner-column">
						<div class="sec-title">
							<span class="sub-title">Our feedbacks</span>
							<h2>What They Say About Us</h2>
							<div class="text">
								Find what our clients have to say about us. From exceptional service to groundbreaking solutions, our customers praise us for our commitment to excellence and tailored approach.							
							</div>
						</div>
					</div>
				</div>

				<!-- Testimonial Column -->
				<div class="testimonial-column col-xl-7 col-lg-6 col-md-12">
					<div class="carousel-outer">
						<div class="testimonial-bg" style="background-image: url(/static/images/resource/testimonial-bg.png)"></div>
						<div class="testimonial-carousel-four owl-carousel owl-theme">
							{% for testimony in testimonies %}
							<!-- Testimonial Block Four -->
							<div class="testimonial-block-four">
								<div class="inner-box">
									<div class="content-box">
										<span class="icon icon-quote"></span>
										<div class="rating">
											{% for star in "*****" %}
												{% if forloop.counter <= testimony.rating %}
													<i class="fas fa-star"></i>
												{% else %}
													<i class="far fa-star"></i>
												{% endif %}
											{% endfor %}
										</div>
										<div class="text">
											{{ testimony.message|truncatechars:100 }}
										</div>
									</div>
									<div class="info-box">
										<figure class="thumb">
											<img class="rounded rounded-circle" src="
												{% if testimony.author.profile.image %}
													{{ testimony.author.profile.image.url }}
												{% else %}
													{% if testimony.author.profile.gender == 'male' %}
														/static/sb/img/undraw_profile_2.svg
													{% elif testimony.author.profile.gender == 'female' %}
														/static/sb/img/undraw_profile_1.svg
													{% else %}
														/static/sb/img/undraw_profile.svg
													{% endif %}
												{% endif %}" alt="{{ testimony.name }}" title="{{ testimony.name }}">
										</figure>
										<h6 class="name">{{ testimony.author.get_full_name|default:'No Name' }}</h6>
										<span class="designation">{{ testimony.position }}</span>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Section Three -->
{% endif %}
	<!-- Contact Section -->
	<section class="contact-section-four pt-0">
		<div class="auto-container">
			<!-- Fact Counter -->
			<div class="fact-counter">
				<div class="row">
					<!-- Counter block-->
					<div class="counter-block-three col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
						<div class="inner">
							<div class="count-box"><span class="count-text" data-speed="3000" data-stop="57">0</span></div>
							<h6 class="counter-title">Project completed</h6>
						</div>
					</div>

					<!--Counter block-->
					<div class="counter-block-three col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
						<div class="inner">
							<div class="count-box"><span class="count-text" data-speed="3000" data-stop="10">0</span></div>
							<h6 class="counter-title">IT specialists</h6>
						</div>
					</div>

					<!--Counter block-->
					<div class="counter-block-three col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
						<div class="inner">
							<div class="count-box"><span class="count-text" data-speed="3000" data-stop="60">0</span></div>
							<h6 class="counter-title">Satisfied clients</h6>
						</div>
					</div>

					<!--Counter block-->
					<div class="counter-block-three col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="900ms">
						<div class="inner">
							<div class="count-box"><span class="count-text" data-speed="3000" data-stop="23">0</span></div>
							<h6 class="counter-title">Smart solutions</h6>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<!-- Info Column -->
				<div class="info-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column wow fadeInRight">
						<div class="title-box">
							<h3 class="title">Best IT Technology <br>Services you can Trust</h3>
						</div>

						<div class="our-values">
							<figure class="image"><img src="/static/images/resource/project-9.jpg" alt=""></figure>
							<div class="content">
								<h5 class="title">Manage Tech Services</h5>
								<div class="text">
									VSTech Limited is a pioneering tech company driven by innovation and dedicated to shaping the future of digital solutions. With our relentless pursuit of excellence, we deliver cutting-edge tech solutions that make a lasting impact. Our passion for technology and our commitment to exceeding expectations set us apart in the rapidly evolving digital landscape.
								</div>
							</div>
						</div>

						<div class="info-box">
							<figure class="image"><img src="/static/images/resource/image-1.jpg" width="150" alt=""></figure>
							<!-- Counter block-->
							<div class="counter-block-two">
								<div class="count-box"><span class="count-text" data-speed="3000" data-stop="60">0</span></div>
								<h6 class="counter-title">Clients worldwide took Professional IT services</h6>
							</div>
						</div>
					</div>
				</div>

				<!-- Form Column -->
				<div class="form-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Contact Form -->
						<div class="contact-form-three wow fadeInLeft">
							<div class="title-box">
								<h3 class="title">Get a Free <br>Quote</h3>
								<div class="text">There are many variations of passages</div>
							</div>
							<!--Contact Form-->
							<form method="post" action="{% url 'contact' %}" id="contact-form">
								{% csrf_token %}
								<div class="form-group">
									<input type="text" name="full_name" placeholder="Your Name" required>
								</div>

								<div class="form-group">
									<input type="email" name="user_email" placeholder="Email Your Address" required>
								</div>

								<div class="form-group">
									<input type="text" name="phone" placeholder="Phone Number" required>
								</div>

								<div class="form-group">
									<input type="text" name="subject" placeholder="Enter Subject" required>
								</div>

								<div class="form-group">
									<button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="btn-title">Send a message</span></button>
								</div>
							</form>
						</div>
						<!--End Contact Form -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Contact Section -->
{% if blogs %}
	<!-- News Section -->
	<section class="news-section">
		<div class="bg-shape2"></div>
		<div class="auto-container">
			<div class="sec-title text-center">
				<span class="sub-title">from the blog</span>
				<h2>News & Articles</h2>
			</div>

			<div class="row">
				{% for blog in blogs %}
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><a href="{{ blog.get_absolute_url }}"><img src="{% if blog.front_image %} {{blog.front_image.url }} {% else %}/static/images/resource/news-1.jpg{% endif %}" alt="{{ blog }}" title="{{ blog }}"></a></figure>
							<span class="date"><b>{{ blog.published_date|date:'d' }}</b> {{ blog.published_date|date:'M' }}</span>
						</div>
						<div class="content-box">
							<ul class="post-info">
								<li><i class="fa fa-user"></i> by {{ blog.author.get_full_name|default:'No Name' }}</li>
								<li><i class="fa fa-tag"></i> {{ blog.category }}</li>
							</ul>
							<h4 class="title"><a href="{{ blog.get_absolute_url }}">{{ blog.title|truncatechars:35 }}</a></h4>
						</div>
						<div class="bottom-box">
							<a href="{{ blog.get_absolute_url }}" class="read-more">Read More <i class="fa fa-long-arrow-alt-right"></i></a>
							<div class="comments">
								<i class="fa fa-eye" aria-hidden="true"></i> {{ blog.views }}
								<a href="{% url 'blog:like_post' blog.slug %}"><i class="fa fa-thumbs-up" aria-hidden="true" title="Like this Post?"></i></a> {{ blog.likes }}
								<a href="{% url 'blog:dislike_post' blog.slug %}"><i class="fa fa-thumbs-down" aria-hidden="true" title="Dislike this Post?"></i></a> {{ blog.dislikes }}
								<i class="fa fa-comments" title="Leave a Comment"></i> {{ blog.comments.all.count }}
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!--End News Section -->
{% endif %}
	{% include 'partials/clients/1.html' %}

	{% include 'partials/footer.html' %}
</div><!-- End Page Wrapper -->

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<script src="/static/js/jquery.js"></script> 
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.fancybox.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/wow.js"></script>
<script src="/static/js/appear.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/swiper.min.js"></script>
<script src="/static/js/owl.js"></script>
<script src="/static/js/script.js"></script>
{% include 'partials/theme-script.html' %}
{% include 'partials/chat-bot.html' %}
</body>

<!-- index-5,  18:21:35 GMT -->
</html>
