<!DOCTYPE html>
<html lang="en">

<!-- index-6,  18:21:35 GMT -->
<head>
	<script src="https://www.googleoptimize.com/optimize.js?id=OPT-WNRBR7N"></script>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-10926755664"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'AW-10926755664');
	</script>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-99WZSD0FEW"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());
	
			gtag('config', 'G-99WZSD0FEW');
		</script>
		<!-- Google Tag Manager -->
		<script>(function (w, d, s, l, i) {
				w[l] = w[l] || []; w[l].push({
					'gtm.start':
						new Date().getTime(), event: 'gtm.js'
				}); var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
						'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-TQNSKV7');</script>
		<!-- End Google Tag Manager -->
{% include 'partials/home_meta.html' %}
<!-- Stylesheets -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css">
<link href="/static/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css">
<link href="/static/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css">

<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/responsive.css" rel="stylesheet">

<!-- Dark Theme -->
{% if request.user.is_authenticated and request.user.preferences.theme == 'dark' %}
    <link href="/static/css/style-dark.css" id="themeLink" rel="stylesheet">
{% else %}
    <link href="" id="themeLink" rel="stylesheet">
{% endif %}

<link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/static/images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQNSKV7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page-wrapper">

	<!-- Preloader -->
	<!-- <div class="preloader"></div> -->

	{% include 'partials/top-nav.html' %}
	
	{% include 'partials/messages.html' %}
	<!--Main Slider-->
	<section class="main-slider">
		<div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
			<div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
				<ul>
					<!-- Slide 1 -->
					<li data-index="rs-1" data-transition="zoomout">
						<!-- MAIN IMAGE -->
						<img src="/static/images/main-slider/slider-2.jpeg" alt="" class="rev-slidebg">

						<div class="tp-caption tp-resizeme rs-parallaxlevel-3 hidden-mobile"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="shape"
						data-height="none"
						data-whitespace="nowrap"
						data-width="none"
						data-hoffset="['-270','-190','-60','-190']"
						data-voffset="['160','160','180','160']"
						data-x="['center','center','center','center']"
						data-y="['middle','middle','middle','middle']"
						data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
							<figure><img src="/static/images/main-slider/arrow.png" alt=""></figure>
						</div>

						<div class="tp-caption"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['750','750','750','650']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['-190','-190','-190','-200']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<span class="title">Maximize Productivity</span>
						</div>

						<div class="tp-caption"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[15,15,15,15]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['750','750','750','650']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['-50','-50','-50','-80']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<h1>Empowering <br>Businesses</h1>
						</div>

						<div class="tp-caption"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['750','750','750','450']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['90','90','90','65']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<div class="text">VSTech Limited revolutionizes productivity with innovative software solutions tailored to your needs. Maximize efficiency and empower your business.</div>
						</div>


						<div class="tp-caption" data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[15,15,15,15]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['700','750','700','450']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['185','185','200','185']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<a href="{% url 'about' %}" class="theme-btn btn-style-one"><span class="btn-title">Discover more</span></a>
						</div>
					</li>

					<!-- Slide 2 -->
					<li data-index="rs-2" data-transition="zoomin">
						<!-- MAIN IMAGE -->
						<img src="/static/images/main-slider/slider-4.jpeg" alt="" class="rev-slidebg">

						<div class="tp-caption tp-resizeme rs-parallaxlevel-3 hidden-mobile"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="shape"
						data-height="none"
						data-whitespace="nowrap"
						data-width="none"
						data-hoffset="['-270','-190','-60','-190']"
						data-voffset="['160','160','180','160']"
						data-x="['center','center','center','center']"
						data-y="['middle','middle','middle','middle']"
						data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
							<figure><img src="/static/images/main-slider/arrow.png" alt=""></figure>
						</div>

						<div class="tp-caption"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['750','750','750','650']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['-190','-190','-190','-200']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<span class="title">Tailored for You</span>
						</div>

						<div class="tp-caption"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[15,15,15,15]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['750','750','750','650']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['-50','-50','-50','-80']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<h1>Success <br><span class="color2">for</span> Businesses</h1>
						</div>

						<div class="tp-caption"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['750','750','750','450']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['90','90','90','65']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<div class="text">VSTech Limited crafts custom software solutions for your success. Our tailored approach boosts efficiency and drives growth.</div>
						</div>


						<div class="tp-caption" data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[15,15,15,15]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['700','750','700','450']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['185','185','200','185']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<a href="{% url 'about' %}" class="theme-btn btn-style-one"><span class="btn-title">Discover more</span></a>
						</div>
					</li>

				</ul>
			</div>
		</div>
	</section>
	<!-- End Main Slider-->

	<!-- About Section Three -->
	<section class="about-section-three layout_6">
		<div class="auto-container">
			<div class="row">
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column wow fadeInLeft">
						<figure class="image-1 overlay-anim wow fadeInUp"><img src="/static/images/resource/about-1.jpg" alt=""></figure>
						<figure class="image-2 overlay-anim wow fadeInRight"><img src="/static/images/resource/image-3.jpg" alt=""></figure>
					</div>
				</div>

				<div class="content-column col-lg-6 col-md-12 col-sm-12 wow fadeInRight" data-wow-delay="600ms">
					<div class="inner-column">
						<div class="sec-title">
							<span class="sub-title">Welcome to vstech</span>
							<h2>Unleash the Power of Cutting-Edge Tech Solutions</h2>
							<h5>The professional approach to technology.</h5>
							<div class="text">
								Experience the limitless possibilities of innovative web and mobile apps, seamless support and maintenance, interactive e-learning, reliable hosting, expert consultation, and tailored software development. Discover the transformative potential of technology for all.
							</div>
						</div>

						<div class="content-box">
							<div class="row">
								<div class="about-block-three col-lg-6 col-md-6 col-sm-12">
									<h5 class="title"><i class="icon fa fa-arrow-alt-circle-right"></i> Mission </h5>
									<p class="text">To provide innovative and modern tech solutions that ...</p>
								</div>

								<div class="about-block-three col-lg-6 col-md-6 col-sm-12">
									<h5 class="title"><i class="icon fa fa-arrow-alt-circle-right"></i> Vision </h5>
									<p class="text">To lead the world into a new era of technological ...</p>
								</div>
							</div>

							<div class="about-info-box">
								<span class="icon lnr-icon-phone"></span>
								<div class="content">
									<span class="title">Call to Get a Free Estimate</span>
									<a href="tel:{{ about.phone_number|default:'+254795067776' }}" class="number">{{ about.phone_number|default:'+254795067776' }}</a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!--Emd About Section Two -->

	<!-- Contact Section -->
	<section class="contact-section-four pt-0">
		<div class="auto-container">
			<!-- Fact Counter -->
			<div class="fact-counter">
				<div class="row">
					<!-- Counter block-->
					<div class="counter-block-three col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
						<div class="inner">
							<div class="count-box"><span class="count-text" data-speed="3000" data-stop="57">0</span></div>
							<h6 class="counter-title">Project completed</h6>
						</div>
					</div>

					<!--Counter block-->
					<div class="counter-block-three col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
						<div class="inner">
							<div class="count-box"><span class="count-text" data-speed="3000" data-stop="10">0</span></div>
							<h6 class="counter-title">IT specialists</h6>
						</div>
					</div>

					<!--Counter block-->
					<div class="counter-block-three col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
						<div class="inner">
							<div class="count-box"><span class="count-text" data-speed="3000" data-stop="60">0</span></div>
							<h6 class="counter-title">Satisfied clients</h6>
						</div>
					</div>

					<!--Counter block-->
					<div class="counter-block-three col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="900ms">
						<div class="inner">
							<div class="count-box"><span class="count-text" data-speed="3000" data-stop="23">0</span></div>
							<h6 class="counter-title">Smart solutions</h6>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<!-- Info Column -->
				<div class="info-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column wow fadeInRight">
						<div class="title-box">
							<h3 class="title">Best IT Technology <br>Services you can Trust</h3>
						</div>

						<div class="our-values">
							<figure class="image"><img src="/static/images/resource/project-9.jpg" alt=""></figure>
							<div class="content">
								<h5 class="title">Manage Tech Services</h5>
								<div class="text">
									VSTech Limited is a pioneering tech company driven by innovation and dedicated to shaping the future of digital solutions. With our relentless pursuit of excellence, we deliver cutting-edge tech solutions that make a lasting impact. Our passion for technology and our commitment to exceeding expectations set us apart in the rapidly evolving digital landscape.
								</div>
							</div>
						</div>

						<div class="info-box">
							<figure class="image"><img src="/static/images/resource/image-1.jpg" width="150" alt=""></figure>
							<!-- Counter block-->
							<div class="counter-block-two">
								<div class="count-box"><span class="count-text" data-speed="3000" data-stop="60">0</span></div>
								<h6 class="counter-title">Clients worldwide took Professional IT services</h6>
							</div>
						</div>
					</div>
				</div>

				<!-- Form Column -->
				<div class="form-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Contact Form -->
						<div class="contact-form-three wow fadeInLeft">
							<div class="title-box">
								<h3 class="title">Get a Free <br>Quote</h3>
								<div class="text">There are many variations of passages</div>
							</div>
							<!--Contact Form-->
							<form method="post" action="{% url 'contact' %}" id="contact-form">
								{% csrf_token %}
								<div class="form-group">
									<input type="text" name="full_name" placeholder="Your Name" required>
								</div>

								<div class="form-group">
									<input type="email" name="user_email" placeholder="Email Your Address" required>
								</div>

								<div class="form-group">
									<input type="text" name="phone" placeholder="Phone Number" required>
								</div>

								<div class="form-group">
									<input type="text" name="subject" placeholder="Enter Subject" required>
								</div>

								<div class="form-group">
									<button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="btn-title">Send a message</span></button>
								</div>
							</form>
						</div>
						<!--End Contact Form -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Contact Section -->

	{% include 'partials/clients/1.html' %}

	<!-- Video Section -->
	<section class="video-section">
		<div class="auto-container">
			<div class="outer-box">
				<div class="title-box text-center">
					<h2 class="title">Trusted IT Solution<br> & Service Business Agency</h2>
				</div>
				<div class="video-box wow fadeInUp">
					<figure class="image"><img src="/static/images/background/1.jpg" alt=""></figure>
					<div class="content">
						<a href="https://youtu.be/Oz-SvGZsTNc" class="play-btn lightbox-image"><i class="icon fa fa-play"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Video Section -->

{% if services %}
	<!-- Services Section Four -->
	<section class="services-section-four layout_6 pt-0">
		<div class="auto-container">
			<div class="sec-title text-center">
				<span class="sub-title">Services we’re offering</span>
				<h2>We Provide our Clients <br>Best IT Services</h2>
			</div>

			<div class="row">
				{% for service in services %}
				<!-- Service Block Four -->
				<div class="service-block-four col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
					<div class="inner-box ">
						<div class="icon-box">
							<i class="icon {{ service.icon|default:'flaticon-business-010-startup' }}"></i>
						</div>
						<h5 class="title"><a href="{{ service.get_absolute_url }}">{{ service }}</a></h5>
						<div class="text">{{ service.description|truncatechars:120 }}</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- End Services Section Four-->
{% endif %}
	<!-- Call To Action -->
	<section class="call-to-action alternate" style="background-image: url(/static/images/background/1.jpg)">
		<div class="auto-container">
			<div class="title-box  wow fadeInUp">
				<div class="icon bounce-y"><img src="/static/images/resource/icon-logo.png" alt=""></div>
				<h1 class="title">IT Solutions & Services <br>at your Fingertips</h1>
				<a href="{% url 'services:list' %}" class="theme-btn btn-style-one hvr-light"><span class="btn-title">Discover more</span></a>
			</div>
		</div>
	</section>
	<!--End Call To Action -->

	<!-- Team Section -->
	<section class="team-section">
		<div class="anim-icons">
			<span class="icon icon-lines bounce-x"></span>
			<span class="icon icon-dots bounce-y"></span>
		</div>
		<div class="auto-container">
			<div class="sec-title text-center">
				<span class="sub-title">Our feedbacks</span>
				<h2>EXPERTS READY TO SURVE</h2>
			</div>

			<div class="row">
				{% if teams %}
					{% for team in teams %}
						<!-- Team Block -->
						<div class="team-block col-lg-4 col-md-6 col-sm-12">
							<div class="inner-box mb-md-30">
								<div class="image-box">
									<figure class="image"><a href="{{ team.get_absolute_url }}"><img src="{% if team.image %}{{ team.image.url }}{% else %}/static/images/resource/team-1.jpg{% endif %}" alt="{{ team.user.get_full_name|default:'No Name'  }}"></a></figure>
								</div>
								<div class="info-box">
									<h5 class="name"><a href="{{ team.get_absolute_url }}">{{ team.user.get_full_name|default:'No Name' }}</a></h5>
									<span class="designation">{{ team.rank|default:'Member' }}</span>
									<ul class="social-links">
										{% if team.user.email %} 
											<li><a href="mailto:{{ team.user.email }}"><i class="fa fa-envelope"></i></a></li>
										{% endif %}
										{% if team.user.profile.phone_number %} 
											<li><a href="tel:{{ team.user.profile.phone_number }}"><i class="fa fa-phone"></i></a></li>
										{% endif %}
										{% if team.user.profile.twitter %} 
											<li><a href="{{ team.user.profile.twitter }}"><i class="fab fa-twitter"></i></a></li>
										{% endif %}
										{% if team.user.profile.linkedin %}
											<li><a href="{{ team.user.profile.linkedin }}"><i class="fab fa-linkedin"></i></a> </li>
										{% endif %}
										{% if team.user.profile.instagram %}
											<li><a href="{{ team.user.profile.instagram }}"><i class="fab fa-instagram"></i></a> </li>
										{% endif %}
									</ul>
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
				<div class="alert alert-info">
					<p class="text-center font-weight-bold">No Team Provided</p>
				</div>
				{% endif %}
			</div>
		</div>
	</section>
	<!-- End Team Section -->

	{% if testimonies %}
	<!-- Testimonial Section Two -->
	<section class="testimonial-section-two">
		<div class="auto-container">
			<div class="row">
				<!-- Title Column -->
				<div class="title-column col-xl-3 col-lg-12">
					<div class="sec-title">
						<span class="sub-title">Our feedbacks</span>
						<h3>What They Say About Us</h3>
						<div class="text">
							Discover what our clients have to say about us. From exceptional service to groundbreaking solutions, our customers praise us for our commitment to excellence and tailored approach. 	
						</div>
					</div>
				</div>
				<!-- Testimonial Column -->
				<div class="testimonial-column col-xl-9 col-lg-12">
					<div class="inner-column">
						<!-- Testimonial Carousel -->
						<div class="testimonial-carousel owl-carousel owl-theme">
							
							{% for testimony in testimonies %}
								<!-- Testimonial Block -->
								<div class="testimonial-block-two">
									<div class="inner-box">
										<div class="content-box">
											<div class="rating">
												{% for star in "*****" %}
													{% if forloop.counter <= testimony.rating %}
														<i class="fas fa-star"></i>
													{% else %}
														<i class="far fa-star"></i>
													{% endif %}
												{% endfor %}
											</div>
											<div class="text">{{ testimony.message|truncatechars:100 }}</div>
										</div>
										<div class="info-box">
											<div class="thumb">
												<img class="rounded rounded-circle" src="
												{% if testimony.author.profile.image %}
													{{ testimony.author.profile.image.url }}
												{% else %}
													{% if testimony.author.profile.gender == 'male' %}
														/static/sb/img/undraw_profile_2.svg
													{% elif testimony.author.profile.gender == 'female' %}
														/static/sb/img/undraw_profile_1.svg
													{% else %}
														/static/sb/img/undraw_profile.svg
													{% endif %}
												{% endif %}" alt="{{ testimony.name }}" title="{{ testimony.name }}">
											</div>
											<h6 class="name">{{ testimony.author.get_full_name|default:'No Name' }}</h6>
											<span class="designation">{{ testimony.position }}</span>
										</div>
									</div>
								</div>
							{% endfor %}

							</div>
						</div>
					</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->
	{% endif %}

	{% include 'partials/blogs.html' %}

	{% include 'partials/footer.html' %}


</div><!-- End Page Wrapper -->

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<script src="/static/js/jquery.js"></script> 
<script src="/static/js/popper.min.js"></script>
<!--Revolution Slider-->
<script src="/static/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="/static/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/static/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="/static/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="/static/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/static/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/static/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="/static/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="/static/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="/static/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/static/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="/static/js/main-slider-script.js"></script>
<!--Revolution Slider-->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.fancybox.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/wow.js"></script>
<script src="/static/js/appear.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/swiper.min.js"></script>
<script src="/static/js/owl.js"></script>
<script src="/static/js/script.js"></script>

{% include 'partials/theme-script.html' %}
{% include 'partials/chat-bot.html' %}
</body>

<!-- index-6,  18:21:39 GMT -->
</html>
