<script src="/static/js/bootstrap.min.js"></script>
<!-- Bootstrap core JavaScript-->
 <script src="/static/sb/vendor/jquery/jquery.min.js"></script>
 <script src="/static/sb/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

 <!-- Core plugin JavaScript-->
 <script src="/static/sb/vendor/jquery-easing/jquery.easing.min.js"></script>

 <!-- Custom scripts for all pages-->
 <script src="/static/sb/js/sb-admin-2.min.js"></script>

 <!-- Page level plugins -->
 <script src="/static/sb/vendor/chart.js/Chart.min.js"></script>

 <!-- Page level custom scripts -->
 <script src="/static/sb/js/demo/chart-area-demo.js"></script>
 <script src="/static/sb/js/demo/chart-pie-demo.js"></script>
 <script src="/static/sb/js/demo/chart-bar-demo.js"></script>

<!-- Page level plugins -->
<script src="/static/sb/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/sb/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/static/sb/js/demo/datatables-demo.js"></script>