{% extends 'assignments/base.html' %}
{% block content %}
<div class="container-fluid">
    <!-- Content Row -->
   {% include 'assignments/partials/card.html' %}
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-12">
            <!-- Content Row -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
                    </div>
                </div>
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" name="" id=""></th>
                                    <th>No</th>
                                    <th>Order Title</th>
                                    <th>User Refered</th>
                                    <th>Amount Earned</th>
                                    <th>Transaction Date</th>
                                    <th>Transaction Time</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th><input type="checkbox" name="" id=""></th>
                                    <th>No</th>
                                    <th>Order Title</th>
                                    <th>User Refered</th>
                                    <th>Amount Earned</th>
                                    <th>Transaction Date</th>
                                    <th>Transaction Time</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for earning in earnings %}
                                    {% for i in earning %}
                                        <tr>
                                            <td><input type="checkbox" name="" id=""></td>
                                            <td>{{ i.id }}</td>
                                            <td>{{ i.title|default:'-' }}</td>
                                            <td>{{ i.user.get_full_name|default:'-' }}</td>
                                            <td class="text-end">Ksh. {{ i.payment.get_amount_earned_by_referer }}</td>
                                            <td>{{ i.payment.created_at|date }}</td>
                                            <td>{{ i.payment.created_at|time }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Overview</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                    <hr>
                    Get your
                <code>Earnings Overview</code> for the last 12 Months.
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
    {% block js %}
    <script src="/static/sb/js/demo/chart-area-demo.js"></script>
    {% endblock %}