{% extends 'assignments/base.html' %}
{% block content %}
    <div class="container-fluid">
        {% include 'assignments/partials/card.html' %}
        <!-- Content Row -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
                    <a href="#" class="btn btn-sm btn-info" data-toggle="modal" data-target="#getCode">Get Referal Code</a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="" id=""></th>
                                <th>Name</th>
                                <th>Order ID</th>
                                <th>Date Created</th>
                                <th>Time Created</th>
                                <th>Amount Earned</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th><input type="checkbox" name="" id=""></th>
                                <th>Name</th>
                                <th>Order ID</th>
                                <th>Date Created</th>
                                <th>Time Created</th>
                                <th>Amount Earned</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for idea in idea_referal %}
                            <tr>
                                <td><input type="checkbox" name="" id=""></td>
                                <td>{{ idea.user.get_full_name|default:'-'}}</td>
                                <td class="text-uppercase">GetIdeas-#{{ idea.id }}</td>
                                <td>{{ idea.created_at|date:'D' }}. {{ idea.created_at|date }}</td>
                                <td>{{ idea.created_at|time }}</td>
                                <td class="text-end">Ksh. {% if idea.payment.get_amount_earned_by_referer %}{{ idea.payment.get_amount_earned_by_referer }}{% else %}0.00{% endif %}</td>
                            </tr>
                            {% endfor %}
                            {% for assignment in assignment_referal %}
                            <tr>
                                <td><input type="checkbox" name="" id=""></td>
                                <td>{{ assignment.user.get_full_name|default:'-' }}</td>
                                <td class="text-uppercase">Assignment-#{{ assignment.id }}</td>
                                <td>{{ assignment.created_at|date:'D'}}. {{ assignment.created_at|date }}</td>
                                <td>{{ assignment.created_at|time }}</td>
                                <td class="text-end">Ksh. {{ assignment.payment.get_amount_earned_by_referer|default:'-' }}</td>
                            </tr>
                            {% endfor %}
                            {% for project in project_referal %}
                            <tr>
                                <td><input type="checkbox" name="" id=""></td>
                                <td>{{ project.user.get_full_name|default:'-' }}</td>
                                <td class="text-uppercase">Project-#{{ project.id }}</td>
                                <td>{{ project.created_at|date:'D'}}. {{ project.created_at|date }}</td>
                                <td>{{ project.created_at|time }}</td>
                                <td class="text-end">Ksh. {{ project.payment.get_amount_earned_by_referer|default:'-' }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}