{% extends 'base.html' %}
{% block meta %}

{% endblock %}
{% block content %}
	<!-- Services Section -->
	<section class="">
		<div class="container">

			<div class="row">
				<!-- Service Block -->
				<div class="service-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><a href="page-service-details/"><img src="/static/images/resource/service-1.jpg" alt=""></a></figure>
							<div class="icon-box"><i class="icon flaticon-business-010-startup"></i></div>
						</div>
						<div class="content-box">
							<h5 class="title"><a href="page-service-details/">Product Development</a></h5>
							<div class="text">We’ve designed a culture that allows our stewards to assimilate</div>
							<a href="page-service-details/" class="read-more">read More <i class="fa fa-long-arrow-alt-right"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block -->
				<div class="service-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><a href="page-service-details/"><img src="/static/images/resource/service-2.jpg" alt=""></a></figure>
							<div class="icon-box"><i class="icon flaticon-business-002-graph"></i></div>
						</div>
						<div class="content-box">
							<h5 class="title"><a href="page-service-details/">UI/UX Designing</a></h5>
							<div class="text">We’ve designed a culture that allows our stewards to assimilate</div>
							<a href="page-service-details/" class="read-more">read More <i class="fa fa-long-arrow-alt-right"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block -->
				<div class="service-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><a href="page-service-details/"><img src="/static/images/resource/service-3.jpg" alt=""></a></figure>
							<div class="icon-box"><i class="icon flaticon-business-048-coin"></i></div>
						</div>
						<div class="content-box">
							<h5 class="title"><a href="page-service-details/">Digital Marketing</a></h5>
							<div class="text">We’ve designed a culture that allows our stewards to assimilate</div>
							<a href="page-service-details/" class="read-more">read More <i class="fa fa-long-arrow-alt-right"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block -->
				<div class="service-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><a href="page-service-details/"><img src="/static/images/resource/service-3.jpg" alt=""></a></figure>
							<div class="icon-box"><i class="icon flaticon-business-002-graph"></i></div>
						</div>
						<div class="content-box">
							<h5 class="title"><a href="page-service-details/">Data Analysis</a></h5>
							<div class="text">We’ve designed a culture that allows our stewards to assimilate</div>
							<a href="page-service-details/" class="read-more">read More <i class="fa fa-long-arrow-alt-right"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block -->
				<div class="service-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><a href="page-service-details/"><img src="/static/images/resource/service-1.jpg" alt=""></a></figure>
							<div class="icon-box"><i class="icon flaticon-business-048-coin"></i></div>
						</div>
						<div class="content-box">
							<h5 class="title"><a href="page-service-details/">Security System</a></h5>
							<div class="text">We’ve designed a culture that allows our stewards to assimilate</div>
							<a href="page-service-details/" class="read-more">read More <i class="fa fa-long-arrow-alt-right"></i></a>
						</div>
					</div>
				</div>

				<!-- Service Block -->
				<div class="service-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><a href="page-service-details/"><img src="/static/images/resource/service-2.jpg" alt=""></a></figure>
							<div class="icon-box"><i class="icon flaticon-business-010-startup"></i></div>
						</div>
						<div class="content-box">
							<h5 class="title"><a href="page-service-details/">Data Visualization</a></h5>
							<div class="text">We’ve designed a culture that allows our stewards to assimilate</div>
							<a href="page-service-details/" class="read-more">read More <i class="fa fa-long-arrow-alt-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Services Section-->
{% endblock %}