{% extends 'edu/base.html' %}
{% block content %}
<div class="card mb-4">
    <div class="card-header py-3">
        <div class="d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
            <a href="{% url 'edu:my-documents' %}" class="theme-btn btn-style-one">My Notes</a>
        </div>
    </div>
    <div class="card-body">
        <div class="form form-group">
            <form action="{% url 'edu:add_notes' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if schools %}
                <div class="form-group">
                    <label for="school">Select School*:</label>
                    <select name="school" class="form form-control" id="school" required>
                        <option value="">-----------------</option>
                        {% for school in schools %}
                            <option value="{{school.id}}">{{ school }}</option>
                        {% endfor %}
                        <option value="other">Other</option>
                    </select>
                    <input type="text" name="new_school" class="form form-control mt-3 d-none" placeholder="Enter School Name">
                </div>
                {% endif %}
                {% if units %}
                <div class="form-group my-3">
                    <label for="unit">Select Unit*:</label>
                    <select name="unit" class="form form-control" id="unit" required>
                        <option value="">-----------------</option>
                        {% for unit in units %}
                            <option value="{{unit.id}}">{{ unit }}</option>
                        {% endfor %}
                        <option value="other">Other</option>
                    </select>
                    <input type="text" name="new_unit" class="form form-control mt-3 d-none" placeholder="Enter Unit Name">
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="file">Select File(s)*</label>
                    <input type="file" name="files" id="file" class="form form-control" required multiple>
                    <small><i class="fa fa-question-circle" aria-hidden="true"></i> Max File(s) Size: 20MBs, Hold Cmd or Ctrl to select multiple</small>
                </div>
                <div class="form-group">
                    <button type="submit" class="theme-btn btn-style-one">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var schoolSelect = document.getElementById("school");
    var newSchoolInput = document.querySelector('input[name="new_school"]');
    var unitSelect = document.getElementById("unit");
    var newUnitInput = document.querySelector('input[name="new_unit"]');

    schoolSelect.addEventListener('change', function() {
        if (schoolSelect.value === "other") {
            newSchoolInput.classList.remove('d-none');
            newSchoolInput.setAttribute('required', 'required');
        } else {
            newSchoolInput.classList.add('d-none');
            newSchoolInput.removeAttribute('required');
        }
    });

    unitSelect.addEventListener('change', function() {
        if (unitSelect.value === "other") {
            newUnitInput.classList.remove('d-none');
            newUnitInput.setAttribute('required', 'required');
        } else {
            newUnitInput.classList.add('d-none');
            newUnitInput.removeAttribute('required');
        }
    });
</script>

{% endblock %}