<!DOCTYPE html>
<html lang="en">

<!-- page-404,  18:22:11 GMT -->
<head>
<meta charset="utf-8">
<title>404 Error | Errors | VSTech Limited</title>
<!-- Stylesheets -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css">
<link href="/static/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css">
<link href="/static/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css">

<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/static/images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>

<div class="page-wrapper">
	<!-- 404 Section -->
	<section class="">
		<div class="auto-container pt-120 pb-70">
			<div class="row">
                <div class="col-xl-12">
                    <div class="error-page__inner">
                        <div class="error-page__title-box">
                            <h3 class="error-page__sub-title">Page not found!</h3>
                        </div>
                        <p class="error-page__text">Sorry we can't find that page! The page you are looking <br> for
                            was never existed.</p>
                        <form class="error-page__form" action="{% url 'search' %}">
                            <div class="error-page__form-input">
                                <input type="search" placeholder="Search here">
                                <button type="submit"><i class="lnr lnr-icon-magnifier"></i></button>
                            </div>
                        </form>
                        <a href="/" class="theme-btn btn-style-one shop-now"><span class="btn-title">Back to Home</span></a>
                    </div>
                </div>
			</div>
		</div>
	</section>
	<!--End 404 Section -->

</div><!-- End Page Wrapper -->


<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.fancybox.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/wow.js"></script>
<script src="/static/js/appear.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/swiper.min.js"></script>
<script src="/static/js/owl.js"></script>
<script src="/static/js/script.js"></script>

<!-- page-404,  18:22:11 GMT -->
</html>