{% extends 'base.html' %}
{% block meta %} 

{% endblock %}
{% block content %}
	<!-- About Section Six-->
	<section class="about-section-six">
		<div class="auto-container">
			<div class="row">
				<div class="content-column col-xl-6 col-lg-7 col-md-12 col-sm-12 order-2 wow fadeInRight"
					data-wow-delay="600ms">
					<div class="inner-column">
						<div class="sec-title">
							<span class="sub-title">About Our Company</span>
							<h2>Always Deliver More than you Expected</h2>
							<div class="text">Sed non odio non elit porttitor tincidunt. Donec fermentum, elit sit amet gravida molestie, orci dui eleifend sem, at blandit ipsum diam non purus. Duis dapibus nisi eget vehicula dignissim.</div>
						</div>

						<div class="content-box">
							<div class="about-block-four">
								<i class="icon flaticon-business-018-startup"></i>
								<h5 class="title">End to End Developement </h5>
								<div class="text">Sed non odio non elit porttitor tincidunt. Donec fermentum, elit sit amet</div>
							</div>

							<div class="about-block-four">
								<i class="icon flaticon-business-027-world"></i>
								<h5 class="title">Software IT Outsource</h5>
								<div class="text">Sed non odio non elit porttitor tincidunt. Donec fermentum, elit sit amet</div>
							</div>

							<ul class="list-style-three">
								<li>Sed non odio non elit porttitor tincidunt donec</li>
								<li>Sed non odio non elit porttitor tinc</li>
							</ul>
						</div>

						<div class="btm-box">
							<a href="{% url 'about' %}" class="theme-btn btn-style-one"><span class="btn-title">Discover more</span></a>
						</div>
					</div>
				</div>

				<!-- Image Column -->
				<div class="image-column col-xl-6 col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column wow fadeInLeft">
						<div class="image-box">
							<figure class="image wow fadeIn"><img src="/static/images/resource/men.png" alt=""></figure>
							<div class="completed-projects">
								<strong>870+</strong>
								<div class="text">PROJECT DONE</div>
							</div>
							<div class="experience bounce-y">
								<strong>25</strong>
								<div class="text">Years of <br>Experience</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Emd About Section Six-->

	<!-- Industries Section -->
	<section class="industries-section style-two">
		<div class="auto-container">
			<div class="sec-title text-center light">
				<span class="sub-title">Services we’re offering</span>
				<h2>We’re Dedicated to Serve <br>you All Time</h2>
			</div>
			<div class="row justify-content-center">
				<!-- Feature Block Two -->
				<div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp">
					<div class="inner-box ">
						<i class="icon flaticon-business-011-dollar"></i>
						<h6 class="title"><a href="page-service-details/">Banking</a></h6>
					</div>
				</div>

				<!-- Feature Block Two -->
				<div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp">
					<div class="inner-box ">
						<i class="icon flaticon-business-049-presentation"></i>
						<h6 class="title"><a href="page-service-details/">Healthcare</a></h6>
					</div>
				</div>

				<!-- Feature Block Two -->
				<div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp">
					<div class="inner-box ">
						<i class="icon flaticon-business-061-meeting"></i>
						<h6 class="title"><a href="page-service-details/">Education</a></h6>
					</div>
				</div>

				<!-- Feature Block Two -->
				<div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp">
					<div class="inner-box ">
						<i class="icon flaticon-business-030-settings"></i>
						<h6 class="title"><a href="page-service-details/">Manufacturing</a></h6>
					</div>
				</div>

				<!-- Feature Block Two -->
				<div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp">
					<div class="inner-box ">
						<i class="icon flaticon-business-054-graph"></i>
						<h6 class="title"><a href="page-service-details/">Capital Markets</a></h6>
					</div>
				</div>

				<!-- Feature Block Two -->
				<div class="feature-block-two dark col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp">
					<div class="inner-box ">
						<i class="icon flaticon-business-020-hierarchy"></i>
						<h6 class="title"><a href="page-service-details/">Networking</a></h6>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Industries Section -->

	<!-- Project Section -->
	<section class="project-section alternate pb-0">
		<div class="auto-container">
			<div class="sec-title">
				<div class="row">
					<div class="col-lg-7">
						<span class="sub-title">recently Completed work</span>
						<h2>Improve & Enhance the <br>Tech Projects</h2>
					</div>
					<div class="col-lg-5">
						<div class="text">There are many variations of passages of available but majority have suffered
							alteration in some form, by humou or randomised words which don't look even slightly believable.
						</div>
					</div>
				</div>
			</div>

			<div class="carousel-outer">
				<!-- Prject Carousel -->
				<div class="project-carousel owl-carousel owl-theme">
					<!-- Project Block -->
					<div class="project-block">
						<div class="inner-box">
							<div class="image-box">
								<figure class="image"><a href="/static/images/resource/project-1.jpg" class="lightbox-image"><img
											src="/static/images/resource/project-1.jpg" alt=""></a></figure>
								<a href="page-project-details/" class="icon"><i class="fa fa-long-arrow-alt-right"></i></a>
							</div>
							<div class="content-box">
								<h4 class="title"><a href="page-project-details/">Tech Solutions</a></h4>
								<span class="cat">DESIGN / IDEAS</span>
							</div>
						</div>
					</div>

					<!-- Project Block -->
					<div class="project-block">
						<div class="inner-box">
							<div class="image-box">
								<figure class="image"><a href="/static/images/resource/project-2.jpg" class="lightbox-image"><img
											src="/static/images/resource/project-2.jpg" alt=""></a></figure>
								<a href="page-project-details/" class="icon"><i class="fa fa-long-arrow-alt-right"></i></a>
							</div>
							<div class="content-box">
								<h4 class="title"><a href="page-project-details/">Smart Visions</a></h4>
								<span class="cat">DESIGN / IDEAS</span>
							</div>
						</div>
					</div>

					<!-- Project Block -->
					<div class="project-block">
						<div class="inner-box">
							<div class="image-box">
								<figure class="image"><a href="/static/images/resource/project-3.jpg" class="lightbox-image"><img
											src="/static/images/resource/project-3.jpg" alt=""></a></figure>
								<a href="page-project-details/" class="icon"><i class="fa fa-long-arrow-alt-right"></i></a>
							</div>
							<div class="content-box">
								<h4 class="title"><a href="page-project-details/">Platform Integration</a></h4>
								<span class="cat">DESIGN / IDEAS</span>
							</div>
						</div>
					</div>

					<!-- Project Block -->
					<div class="project-block">
						<div class="inner-box">
							<div class="image-box">
								<figure class="image"><a href="/static/images/resource/project-4.jpg" class="lightbox-image"><img
											src="/static/images/resource/project-4.jpg" alt=""></a></figure>
								<a href="page-project-details/" class="icon"><i class="fa fa-long-arrow-alt-right"></i></a>
							</div>
							<div class="content-box">
								<h4 class="title"><a href="page-project-details/">Web Development</a></h4>
								<span class="cat">DESIGN / IDEAS</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Project Section -->

	<!-- Team Section -->
	<section class="team-section-two">
		<div class="auto-container">
			<div class="sec-title text-center">
				<span class="sub-title">Our team expert</span>
				<h2>Meet Professionals</h2>
			</div>

			<div class="row">
				{% if teams %}
					{% for team in teams %}
						<!-- Team block -->
						<div class="team-block-two col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
							<div class="inner-box">
								<div class="info-box">
									<h5 class="name"><a href="{{ team.get_absolute_url }}">{{ team.user.get_full_name|default:'No Name' }}</a></h5>
									<span class="designation">{{ team.rank|default:'Member' }}</span>
									<span class="share-icon fa fa-share-alt"></span>
									<div class="social-links">
										{% if team.user.email %} 
											<a href="mailto:{{ team.user.email }}"><i class="fa fa-envelope"></i></a>
										{% endif %}
										{% if team.user.profile.phone_number %} 
											<a href="tel:{{ team.user.profile.phone_number }}"><i class="fa fa-phone"></i></a>
										{% endif %}
										{% if team.user.profile.twitter %} 
											<a href="{{ team.user.profile.twitter }}"><i class="fab fa-twitter"></i></a>
										{% endif %}
										{% if team.user.profile.linkedin %}
											<a href="{{ team.user.profile.linkedin }}"><i class="fab fa-linkedin"></i></a> 
										{% endif %}
										{% if team.user.profile.instagram %}
											<a href="{{ team.user.profile.instagram }}"><i class="fab fa-instagram"></i></a> 
										{% endif %}
									</div>
								</div>
								<div class="image-box">
									<figure class="image"><a href="{{ team.get_absolute_url }}"><img src="{% if team.image %}{{ team.image.url }}{% else %}/static/images/resource/team-1.jpg{% endif %}" alt="{{ team.user.get_full_name|default:'No Name'  }}"></a></figure>
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<div class="alert alert-info">
						<p class="text-center font-weight-bold">No Team Provided</p>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
	<!-- End Team Section -->

	<!-- Clients Section   -->
	<section class="clients-section alternate">
		<div class="auto-container">
			<!-- Sponsors Outer -->
			<div class="sponsors-outer">
				<!--clients carousel-->
				<ul class="clients-carousel owl-carousel owl-theme">
					<li class="slide-item"> <a href="#"><img src="/static/images/resource/client.png" alt=""></a> </li>
					<li class="slide-item"> <a href="#"><img src="/static/images/resource/client.png" alt=""></a> </li>
					<li class="slide-item"> <a href="#"><img src="/static/images/resource/client.png" alt=""></a> </li>
					<li class="slide-item"> <a href="#"><img src="/static/images/resource/client.png" alt=""></a> </li>
					<li class="slide-item"> <a href="#"><img src="/static/images/resource/client.png" alt=""></a> </li>
				</ul>
			</div>
		</div>
	</section>
	<!--End Clients Section -->

{% endblock %}