<!DOCTYPE html>
<html lang="en">

<!-- index,  18:17:52 GMT -->
<head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-99WZSD0FEW"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
    
            gtag('config', 'G-99WZSD0FEW');
        </script>
        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-TQNSKV7');</script>
        <!-- End Google Tag Manager -->
    <!-- Responsive -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
{% block meta %}

{% endblock %}
<meta name="author" content="Jeff Odhiambo">
<title>{% block title %}{% endblock %}</title>
<!-- Stylesheets -->
{% include 'partials/css.html' %}
<!-- For extra CSS -->
{% block css %}

{% endblock %}
<link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/static/images/favicon.png" type="image/x-icon">

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQNSKV7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
<div class="page-wrapper">

	<!-- Preloader -->
	<div class="preloader"></div>

    {% include 'partials/top-nav.html' %}
    {% include 'partials/breadcrumb.html' %}
    {% include 'partials/messages.html' %}
    {% block content %}

    {% endblock %}

	{% include 'partials/footer.html' %}

</div><!-- End Page Wrapper -->

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
<!-- For extra JS -->
{% include 'partials/js.html' %}
{% block js %}

{% endblock %}
</body>

</html>