{% extends 'base.html' %}
{% block meta %}

{% endblock %}
{% block content %}
	<!-- FAQ Section -->
	<section class="">
		<div class="container">
			<div class="row">
				<div class="col">
					<ul class="accordion-box wow fadeInRight">
						<!--Block-->
						<li class="accordion block active-block">
							<div class="acc-btn active">How to soft launch your business?
								<div class="icon fa fa-plus"></div>
							</div>
							<div class="acc-content current">
								<div class="content">
									<div class="text">There are many variations of passages the majority have suffered alteration in some fo injected humour or random ised words believ able lorem Ipsum generators on the internet tend to repeat predefined chunks as necessary.</div>
								</div>
							</div>
						</li>
						<!--Block-->
						<li class="accordion block">
							<div class="acc-btn">Is my technology allowed on tech?
								<div class="icon fa fa-plus"></div>
							</div>
							<div class="acc-content">
								<div class="content">
									<div class="text">There are many variations of passages the majority have suffered alteration in some fo injected humour or random ised words believ able lorem Ipsum generators on the internet tend to repeat predefined chunks as necessary.</div>
								</div>
							</div>
						</li>
						<!--Block-->
						<li class="accordion block">
							<div class="acc-btn">How to turn visitors into contributors
								<div class="icon fa fa-plus"></div>
							</div>
							<div class="acc-content">
								<div class="content">
									<div class="text">There are many variations of passages the majority have suffered alteration in some fo injected humour or random ised words believ able lorem Ipsum generators on the internet tend to repeat predefined chunks as necessary.</div>
								</div>
							</div>
						</li>
						<!--Block-->
						<li class="accordion block">
							<div class="acc-btn">How can i find my solutions?
								<div class="icon fa fa-plus"></div>
							</div>
							<div class="acc-content">
								<div class="content">
									<div class="text">There are many variations of passages the majority have suffered alteration in some fo injected humour or random ised words believ able lorem Ipsum generators on the internet tend to repeat predefined chunks as necessary.</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--End FAQ Section -->
{% endblock %}