{% extends 'base.html' %}
{% block title %}Privacy Policy - VSTech Limited{% endblock %}
{% block meta %}
    <meta name="title" content="Privacy Policy - VSTech Limited">
    <meta name="keywords" content="vstech, vstech limited, privacy policy, VSTech Limited, personal information, data privacy, data security, GDPR, CCPA">
    <meta name="description" content="Learn about VSTech Limited's commitment to protecting your personal information and data privacy on this page.">
{% endblock %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="text-muted h3 my-4">PRIVACY POLICY</h1>
            <p>VSTech Limited is committed to protecting the privacy of our users. This Privacy Policy explains how we collect, use, and share information about you when you use our websites, mobile applications, and other online products and services (collectively, the "Services").</p>
            <p>By using the Services, you agree to the collection, use, and sharing of your information as described in this Privacy Policy. If you do not agree with our policies and practices, do not use the Services.</p>

            <h1 class="text-muted h3 my-4">COLLECTION OF INFORMATION</h1>
            <p>We collect information about you in a variety of ways when you use the Services.</p>
                <h3 class="text-muted h4 my-2">Information You Provide to Us</h3>
                <p>We collect information you provide directly to us. For example, we collect information when you create an account, sign up for newsletters, respond to a survey, or communicate with us. The types of information we may collect include your name, email address, postal address, phone number, and any other information you choose to provide.</p>

                <h3 class="text-muted h4 my-2">Information We Collect Automatically</h3>
                <p>When you use the Services, we may automatically collect certain information about your device and usage of the Services. This information may include your IP address, device type, operating system version, and the dates and times that you access the Services. We may also collect location data, including location data from your device or IP address.</p>

                <h3 class="text-muted h4 my-2">Cookies and Other Tracking Technologies</h3>
                <p>We and our service providers may use cookies and other tracking technologies to collect information about you when you use the Services. Cookies are small data files that are stored on your device or computer and allow us to recognize you and your preferences when you return to the Services. We may also use tracking technologies to collect information about your use of the Services and to customize and improve the Services. You can control the use of cookies at the individual browser level, but if you choose to disable cookies, it may limit your use of certain features or functions on the Services.</p>

            <h1 class="text-muted h3 my-4">USE OF INFORMATION</h1>
            <p>We may use the information we collect about you for a variety of purposes, including to:</p>
                <ul>
                    <li>Provide and deliver the products and services you request, process transactions and send you related information, including confirmations and invoices;</li>
                    <li>Communicate with you, including by sending you newsletters, marketing materials, and other information that may be of interest to you;</li>
                    <li>Personalize your experience by presenting products and offers tailored to you;</li>
                    <li>Monitor and analyze trends, usage, and activities in connection with the Services;</li>
                    <li>Detect, investigate, and prevent fraudulent or illegal activities.</li>
                </ul>

            <h1 class="text-muted h3 my-4">SHARING OF INFORMATION</h1>
            <p>We may share information about you as follows:</p>
                <ul>
                    <li>With service providers and business partners who perform services on our behalf or help us operate the Services;</li>
                    <li>With our affiliates and subsidiaries;</li>
                    <li>With third parties for marketing, advertising, or other purposes, subject to your choices as described below; and</li>
                    <li>In connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business by another company.</li>
                </ul>
            <p>We may also share information about you if we are required to do so by law or legal process, to respond to requests from government agencies, to enforce our policies, or to protect the rights, property, or safety of VSTech Limited, our users, or others.</p>

            <h1 class="text-muted h3 my-4">CHOICES AND ACCESS</h1>
            <p>You have the right to request access to the information we have collected about you, as well as to request that we update or correct that information. You also have the right to request that we delete your information. You can exercise these rights by contacting us at the contact information provided below.</p>
            <ul>
                <li>Email: support@vstech.co.ke</li>
                <li>Phone: +254 202346703</li>
            </ul>
            <p>We may ask you to verify your identity before responding to your request</p>
        </div>
    </div>
</div>

{% endblock %}