{% extends 'base.html' %}
{% block title %}{{ title }} - VSTech Limited {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
			<div class="search-inner py-5">
				<form method="get" action="{% url 'search' %}">
					<div class="form-group d-flex" style="flex-wrap: nowrap !important;">
						<input type="search" name="q" placeholder="Search..." class="form form-control form-control-sm" required>
						<button type="submit" class="theme-btn btn-style-one px-5"><i class="fa fa-search"></i></button>
					</div>
				</form>
			</div>
        </div>
    </div>
</div>
{% if blogs %}
	<!-- News Section -->
	<section class="news-section">
		<div class="auto-container">
			<div class="sec-title text-center">
				<span class="sub-title">from the blog</span>
				<h2>News & Articles</h2>
			</div>

			<div class="row">
				{% for blog in blogs %}
					<!-- News Block -->
					<div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
						<div class="inner-box">
							<div class="image-box">
								<figure class="image"><a href="{{ blog.get_absolute_url }}"><img src="{% if blog.front_image %} {{blog.front_image.url }} {% else %}/static/images/resource/news-1.jpg{% endif %}" alt="{{ blog }}" title="{{ blog }}"></a></figure>
								<span class="date"><b>{{ blog.published_date|date:'d' }}</b> {{ blog.published_date|date:'M' }}</span>
							</div>
							<div class="content-box">
								<ul class="post-info">
									<li><i class="fa fa-user"></i> by {{ blog.author.get_full_name|default:'No Name' }}</li>
									<li><i class="fa fa-tag"></i> {{ blog.category }}</li>
								</ul>
								<h4 class="title"><a href="{{ blog.get_absolute_url }}">{{ blog.title|truncatechars:35 }}</a></h4>
							</div>
							<div class="bottom-box">
								<a href="{{ blog.get_absolute_url }}" class="read-more">Read More <i class="fa fa-long-arrow-alt-right"></i></a>
								<div class="comments">
									<i class="fa fa-eye" aria-hidden="true"></i> {{ blog.views }}
									<a href="{% url 'blog:like_post' blog.slug %}"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a> {{ blog.likes }}
									<a href="{% url 'blog:dislike_post' blog.slug %}"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a> {{ blog.dislikes }}
									<i class="fa fa-comments"></i> {{ blog.comments.all.count }}
								</div>
							</div>
						</div>
					</div>
				{% endfor%}
			</div>
		</div>
	</section>
	<!--End News Section -->
{% endif %}
{% if services %}
	<!-- Services Section -->
	<section class="services-section">
		<div class="auto-container">
			<div class="sec-title text-center">
				<span class="sub-title">Services we’re offering</span>
				<h2>High quality products and services<br> that we stand behind</h2>
			</div>

			<div class="row">
				<!-- Service Block -->
				{% for service in services %}
					<div class="service-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
						<div class="inner-box">
							<div class="image-box">
								<figure class="image"><a href="{{ service.get_absolute_url }}"><img src="{% if service.front_image %}{{ service.front_image.url }}{% else %}/static/images/resource/service-1.jpg{% endif %}" alt="{{ service }}" title="{{ service }}"></a></figure>
								<div class="icon-box"><i class="{% if service.icon %}{{ service.icon }}{% else %}icon flaticon-business-010-startup{% endif %}"></i></div>
							</div>
							<div class="content-box">
								<h5 class="title"><a href="{{ service.get_absolute_url }}">{{ service.title }}</a></h5>
								<div class="text">{{ service.description|truncatechars:100 }}</div>
								<a href="{{ service.get_absolute_url }}" class="read-more">read More <i class="fa fa-long-arrow-alt-right"></i></a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- End Services Section-->
{% endif %}
{% if projects %}
	<!-- Project Section -->
	<section class="project-section pb-0">
		<div class="auto-container">
			<div class="sec-title">
				<div class="row">
					<div class="col-lg-7">
						<span class="sub-title">recently Completed work</span>
						<h2>Improve & Enhance the <br>Tech Projects</h2>
					</div>
					<div class="col-lg-5">
						<div class="text">Our team excels at improving and enhancing tech projects. We optimize systems, refine functionalities, and introduce innovative solutions. Leveraging cutting-edge technologies, we ensure highly efficient and effective outcomes for our clients.</div>
					</div>
				</div>
			</div>

			<div class="carousel-outer">
				<!-- Prject Carousel -->
				<div class="project-carousel owl-carousel owl-theme">
					<!-- Project Block -->
					{% for project in projects %}
					<div class="project-block">
						<div class="inner-box">
							<div class="image-box">
								<figure class="image"><a href="{{ project.get_absolute_url }}" class="lightbox-image"><img src="{% if project.front_image %}{{ project.front_image.url }}{% else %}/static/images/resource/project-1.jpg{% endif %}" alt=""></a></figure>
								<a href="{{ project.get_absolute_url }}" class="icon"><i class="fa fa-long-arrow-alt-right"></i></a>
							</div>
							<div class="content-box">
								<h4 class="title"><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h4>
								<span class="cat">{{ project.category }}</span>
							</div>
						</div>
					</div>	
					{% endfor %}				
				</div>
			</div>
		</div>
	</section>
	<!--End Project Section -->
{% endif %}
{% if testimonies %}
	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="auto-container">
			<div class="sec-title">
				<span class="sub-title">Our feedbacks</span>
				<h2>What They Say<br> About Our Company</h2>
			</div>
			<div class="testimonials">
				<!-- Swiper -->
				<div class="swiper-container testimonial-content">
					<div class="swiper-wrapper"> 
						{% for testimony in testimonies %}
						<!-- Testimonial Block Two -->
						<div class="testimonial-block swiper-slide">
							<div class="row">
								<div class="content-column col-lg-6 col-md-12">
									<div class="icon-box">
										<span class="icon icon-quote"></span>
										<div class="rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<div class="text">
										{{ testimony.message|linebreaks }}
									</div>
									<div class="info-box">
										<h4 class="name">{{ testimony.author.get_full_name|default:'No Name' }}</h4>
										<span class="designation">{{ testimony.position }}</span>
									</div>
								</div>
								<div class="image-column col-lg-6 col-md-12">
									<figure class="image" ><img class="rounded rounded-circle" src="{% if testimony.author.profile.image %}{{ testimony.author.profile.image.url }}{% else %}/static/images/resource/testimonial-1.png{% endif %}" alt="{{ testimony.name }}"></figure>
								</div>
							</div>
						</div>
						{% endfor %}


						<!-- Add Pagination -->
						<div class="testimonial-pagination"></div>
					</div>
				</div>

				<!-- Testimonial Thumbs -->
				<div class="swiper-container testimonial-thumbs">
					<div class="swiper-wrapper">
						{% for testimony in testimonies %}
							<div class="swiper-slide testimonial-thumb">
								<figure class="image"><img src="{% if testimony.author.profile.image %}{{ testimony.author.profile.image.url }}{% else %}/static/images/resource/testimonial-1.png{% endif %}" alt="{{ testimony.name }}"></figure>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->
{% endif %}
{% if teams %}
	<!-- Team Section -->
	<section class="team-section pt-0 pb-0">
		<div class="anim-icons">
			<span class="icon icon-lines bounce-x"></span>
			<span class="icon icon-dots bounce-y"></span>
		</div>
		<div class="auto-container">
			<div class="sec-title text-center">
				<span class="sub-title">Our feedbacks</span>
				<h2>EXPERTS READY TO SURVE</h2>
			</div>

			<div class="row">
					{% for team in teams %}
						<!-- Team Block -->
						<div class="team-block col-lg-4 col-md-6 col-sm-12">
							<div class="inner-box mb-md-30">
								<div class="image-box">
									<figure class="image"><a href="{{ team.get_absolute_url }}"><img src="{% if team.image %}{{ team.image.url }}{% else %}/static/images/resource/team-1.jpg{% endif %}" alt="{{ team.user.get_full_name|default:'No Name'  }}"></a></figure>
								</div>
								<div class="info-box">
									<h5 class="name"><a href="{{ team.get_absolute_url }}">{{ team.user.get_full_name|default:'No Name' }}</a></h5>
									<span class="designation">{{ team.rank|default:'Member' }}</span>
									<ul class="social-links">
										{% if team.user.email %} 
											<li><a href="mailto:{{ team.user.email }}"><i class="fa fa-envelope"></i></a></li>
										{% endif %}
										{% if team.user.profile.phone_number %} 
											<li><a href="tel:{{ team.user.profile.phone_number }}"><i class="fa fa-phone"></i></a></li>
										{% endif %}
										{% if team.user.profile.twitter %} 
											<li><a href="{{ team.user.profile.twitter }}"><i class="fab fa-twitter"></i></a></li>
										{% endif %}
										{% if team.user.profile.linkedin %}
											<li><a href="{{ team.user.profile.linkedin }}"><i class="fab fa-linkedin"></i></a> </li>
										{% endif %}
										{% if team.user.profile.instagram %}
											<li><a href="{{ team.user.profile.instagram }}"><i class="fab fa-instagram"></i></a> </li>
										{% endif %}
									</ul>
								</div>
							</div>
						</div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <!-- End Team Section -->
{% endif %}
{% if faqs %}
	<!-- FAQ Section -->
	<section class="">
		<div class="container">
			<div class="row">
				<div class="col">
					<ul class="accordion-box wow fadeInRight">
						<div class="row">
							<div class="col-md-6">
								<!--Block-->
								<li class="accordion block active-block">
									<div class="acc-btn active">What is your Team's Experience in developing mobile application?
										<div class="icon fa fa-plus"></div>
									</div>
									<div class="acc-content current">
										<div class="content">
											<div class="text">We also have extensive experience in developing mobile applications and are equipped to handle large projects. Our rates are competitive and depend on the scope of the project</div>
										</div>
									</div>
								</li>
							</div>
							{% for faq in faqs %}
							<div class="col-md-6">
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn">{{ faq.question }}
									<div class="icon fa fa-plus"></div>
								</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">{{ faq.answer|linebreaks }}</div>
									</div>
								</div>
							</li>
							</div>
						{% endfor %}
						<!--Block-->
						</div>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--End FAQ Section -->
{% endif %}
{% endblock %}

{% block js %}

{% endblock %}