{% extends 'base.html' %}
{% block title %}Terms & Conditions - VSTech Limited{% endblock %}
{% block meta %}
    <meta name="title" content="Terms and Conditions - VSTech Limited">
    <meta name="keywords" content="terms and conditions, legal, VSTech Limited, website, services, policy, agreement">
    <meta name="description" content="Review the terms and conditions for using VSTech Limited's website and services on this page.">
{% endblock %}
{% block content %}
<div class="page-wrapper" id="top">
    <!-- Navbar & Hero Start -->

<header class="main-header header-style-one  ">
    <div class="header-top">
        <div class="inner-container">
            <div class="top-left">
                <ul class="list-style-one">
                    <li><i class="fa fa-envelope"></i> <a
                            href="mailto:support@vstech.co.ke">support@vstech.co.ke</a></li>
                    <li><i class="fa fa-map-marker"></i>Moi Avenue, Ibrahims Mall
                    </li>
                </ul>
            </div>
            <div class="top-right">
                <ul class="useful-links">
                    <li><a href="/help/">Help</a></li>
                    <li><a href="mailto:support@vstech.co.ke">Support</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="outer-box">
            <ul class="social-icon-one">
                <li><a href="https://www.linkedin.com/company/vstech-ltd/"><span class="fab fa-linkedin"></span></a></li>
                <li><a href="https://twitter.com/vstech_ltd"><span class="fab fa-twitter"></span></a></li>
                <li><a href="https://github.com/smartjef"><span class="fab fa-github"></span></a></li>
                <li><a href="https://facebook.com/vstechltd"><span class="fab fa-facebook-square"></span></a></li>
                <li><a href="https://www.instagram.com/vstech_ltd/"><span class="fab fa-instagram"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="header-lower">
        <div class="main-box">
            <div class="logo-box">
                <div class="logo"><a href="/"><img title="VSTech Limited" src="/static/flogo.png"
                            width="180" height="" /></a></div>
            </div>
            <div class="nav-outer">
                <nav class="nav main-menu">
                    <ul class="navigation ${extraClassName}">
                        <li class=""><a href="/">Home</a></li>
                        <li class="dropdown "><a href="#">About</a>
                            <ul>
                                <li class=""><a href="/about/">About Us</a>
                                <li class=""><a href="/team/">Team</a></li>
                                <li class=""><a href="/testimonials/">Testimonials</a></li>
                                <li class=""><a href="/pricing/">Pricing</a></li>
                                <li class=""><a href="/faqs/">FAQ</a></li>
                            </ul>
                        </li>
                        <li class=""><a href="/services/">Services</a></li>
                        <li class=""><a href="/projects/">Products</a></li>
                        <li class=""><a href="/blogs/">Blogs</a></li>
                        <li class=""><a href="/contact/">Contact</a></li>
                    </ul>
                </nav>
                <div class="outer-box">
                    <div class="ui-btn-outer"><button class="ui-btn ui-btn search-btn"><span
                                class="icon lnr lnr-icon-search"></span></button><a class="ui-btn"
                            href="/#"><i class="lnr-icon-shopping-cart"></i></a></div><a class="info-btn"
                        href="tel:+254748155432"><i class="icon fa fa-phone"></i><small>Call Anytime</small><br />+254748155432</a>
                        <a class="theme-btn btn-style-one" href="/contact/"><span class="btn-title">get solution</span></a>
                    <div class="mobile-nav-toggler" onclick="openMenu()"><span class="icon lnr-icon-bars"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <nav class="menu-box">
            <div class="upper-box">
                <div class="nav-logo"><a href="/"><img title="VSTech Limited" src="/static/flogo.png"
                            width="180" height="" decoding="async" data-nimg="1" loading="lazy"
                            style="color:transparent" /></a></div>
                <div class="close-btn" onclick="closeMenu()"><i class="icon fa fa-times"></i></div>
            </div>
            <ul class="navigation clearfix">
                <li class=""><a href="/">Home</a></li>
                <li class="dropdown "><a href="#">About</a>
                    <ul class="d-block">
                        <li class=""><a href="/about/">About Us</a></li>
                        <li class=""><a href="/team/">Team</a></li>
                        <li class=""><a href="/testimonials/">Testimonials</a></li>
                        <li class=""><a href="/pricing/">Pricing</a></li>
                        <li class=""><a href="/faqs/">FAQ</a></li>
                    </ul>
                    <div class="dropdown-btn"><i class="fa fa-angle-down"></i></div>
                </li>
                <li class=""><a href="/services/">Services</a></li>
                <li class=""><a href="/projects/">Products</a></li>
                <li class=""><a href="/blogs/">Blogs</a></li>
                <li class=""><a href="/contact/">Contact</a></li>
            </ul>
            <ul class="contact-list-one">
                <li>
                    <div class="contact-info-box"><i class="icon lnr-icon-phone-handset"></i><span
                            class="title">Call Now</span><a href="+254748155432">+254748155432</a>
                    </div>
                </li>
                <li>
                    <div class="contact-info-box"><span class="icon lnr-icon-envelope1"></span><span
                            class="title">Send Email</span><a href="mailto:support@vstech.co.ke">support@vstech.co.ke</a>
                    </div>
                </li>
                <li>
                    <div class="contact-info-box"><span class="icon lnr-icon-clock"></span><span class="title">Send
                            Email</span>Mon - Sat 8:00 - 6:30, Saturday - CLOSED</div>
                </li>
            </ul>
            <ul class="social-links">
                <li><a href="https://www.linkedin.com/company/vstech-ltd/"><span class="fab fa-linkedin"></span></a></li>
                <li><a href="https://twitter.com/vstech_ltd"><span class="fab fa-twitter"></span></a></li>
                <li><a href="https://github.com/smartjef"><span class="fab fa-github"></span></a></li>
                <li><a href="https://facebook.com/vstechltd"><span class="fab fa-facebook-square"></span></a></li>
                <li><a href="https://www.instagram.com/vstech_ltd/"><span class="fab fa-instagram"></span></a></li>
            </ul>
        </nav>
    </div>
    <div class="search-popup"><span class="search-back-drop"></span><button class="close-search"><span
                class="fa fa-times"></span></button>
        <div class="search-inner">
            <form action="/search/" method="GET">
                <div class="form-group"><input type="search" name="q" placeholder="Search..."
                        required/><button type="submit"><i class="fa fa-search"></i></button></div>
            </form>
        </div>
    </div>
    <div class="sticky-header ">
        <div class="auto-container">
            <div class="inner-container">
                <div class="logo"><a href=""><img title="VSTech Limited"
                            src="/static/tlogo.png" alt="VSTech Limited"
                            width="180" height="" decoding="async" data-nimg="1" loading="lazy"
                            style="color:transparent" /></a></div>
                <div class="nav-outer">
                    <nav class="main-menu">
                        <div class="navbar-collapse show collapse clearfix">
                            <ul class="navigation ${extraClassName}">
                                <li class=""><a href="/">Home</a></li>
                                <li class="dropdown "><a href="#">Pages</a>
                                    <ul>
                                        <li class=""><a href="/about/">About Us</a>
                                        <li class=""><a href="/team/">Team</a></li>
                                        <li class=""><a href="/testimonials/">Testimonials</a></li>
                                        <li class=""><a href="/pricing/">Pricing</a></li>
                                        <li class=""><a href="/faqs/">FAQ</a></li>
                                    </ul>
                                </li>
                                <li class=""><a href="/services/">Services</a></li>
                                <li class=""><a href="/projects/">Products</a></li>
                                <li class=""><a href="/blogs/">Blogs</a></li>
                                <li class=""><a href="/contact/">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                    <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
                </div>
            </div>
        </div>
    </div>
</header>


<script>
    function openMenu() {
        document.body.classList.add("mobile-menu-visible");
    }
    function closeMenu(){
        document.body.classList.remove("mobile-menu-visible");
    }
</script>
    
    
<!-- Navbar & Hero Start -->
<section class="page-title" style="background-image:url(/static/index-2.png)">
<div class="auto-container">
    <div class="title-outer">
        <h1 class="title">Terms &amp; Conditions</h1>
        <ul class="page-breadcrumb">
            <li><a href="/">Home</a></li>
            
            <li>Terms &amp; Conditions</li>
        </ul>
    </div>
</div>
</section>
<!-- Navbar & Hero End -->

    
    
    


<!-- Terms and Conditions -->
<div class="container my-5">
<div class="row justify-content-center">
    <div class="col-lg-8">
        <h1 class="text-muted my-3 h3">TERMS AND CONDITIONS</h1> 
        <p>Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern VSTech Limited's relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.</p>
        <p>The term 'VSTech Limited' or 'us' or 'we' refers to the owner of the website whose registered office is Juja, Kenya. The term 'you' refers to the user or viewer of our website.</p>
        <h3 class="text-muted my-3 h4">The use of this website is subject to the following terms of use:</h3>
        <ol>
            <li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
            <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
            <li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>
            <li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
            <li>All trademarks reproduced in this website, which are not the property of, or licensed to the operator, are acknowledged on the website.</li>
            <li>Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offense.</li>
            <li>From time to time, this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</li>             
        </ol>
        <h1 class="text-muted my-4 h3">COPYRIGHT NOTICE</h1>
        <p>Copyright <script>document.write(new Date().getFullYear());</script> VSTech Limited. All rights reserved.</p>
        <h3  class="text-muted my-3 h4">Any redistribution or reproduction of part or all of the contents in any form is prohibited other than the following:</h3>
        <ol>
            <li>You may print or download to a local hard disk extracts for your personal and non-commercial use only</li>
            <li>You may copy the content to individual third parties for their personal use, but only if you acknowledge the website as the source of the material</li>
            <li>You may not, except with our express written permission, distribute or commercially exploit the content. Nor may you transmit it or store it in any other website or other form of electronic retrieval system.</li>
        </ol>
        <h1 class="text-muted my-4 h3">DISCLAIMER</h1>
        <p>The information contained in this website is for general information purposes only. The information is provided by VSTech Limited and while we endeavor to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>
        <p>In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.</p>
        <p>Through this website you are able to link to other websites which are not under the control of VSTech Limited. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.</p>
        <p>Every effort is made to keep the website up and running smoothly. However, VSTech Limited takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</p>
        
        <h1 class="text-muted my-4 h3">ACCEPTABLE USE</h1>
        <p>You must not use our website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity</p>

    </div>
</div>
</div>


{% endblock %}