{% extends 'shop/base.html' %}
{% block title %}{{ title|default:'VSTech Limited - Your Ultimate Electronics Shop' }} - VSTech Limited {% endblock %}
{% block meta %}
<meta name="title" content="VSTech Limited - Your Ultimate Electronics Shop">
<meta name="keywords" content="electronics, gadgets, technology, laptops, Apple, MacBooks, HP, online shop">
<meta name="description" content="Discover the latest electronics and gadgets at VSTech Limited. Shop a wide range of high-quality products and accessories, including laptops, Apple devices, MacBooks, HP laptops, and more.">
{% endblock %}
{% block content %}
	<!-- Featured Products -->
	<section class="featured-products">
		<span class="bg-shape"></span>
		<div class="auto-container">
			<div class="row clearfix">
				<div class="col-lg-3 col-md-12 col-sm-12">
					<div class="shop-sidebar">
						<div class="sidebar-search">
							<form action="" method="GET" class="search-form">
								<div class="form-group">
									<input type="search" name="q" placeholder="Search..." required>
									<button type="submit"><i class="lnr lnr-icon-search"></i></button>
								</div>
							</form>
						</div>
						{% if brands %}
						<div class="sidebar-widget category-widget">
							<div class="widget-title">
								<h5 class="widget-title">Brands</h5>
							</div>
							<div class="widget-content">
								<ul class="category-list clearfix">
									{% for brand in brands %}
										<li><a href="{{ brand.get_absolute_url }}">{{ brand }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
						{% endif %}
						<div class="sidebar-widget price-filters">
							<div class="widget-title">
								<h5 class="widget-title">Filter by Price</h5>
							</div>
							<div class="range-slider clearfix">
								<div class="price-range-slider"></div>
								<div class="clearfix">
									<p>Price:</p>
									<div class="title"></div>
									<form action="" method="POST">
										{% csrf_token %}
										<div class="input">
											<input type="text" class="property-amount" name="range" readonly required>
										</div> <br>
										<input type="submit" value="Filter">
									</form>
								</div>
							</div>
						</div>
						{% if popular_products %}
						<div class="sidebar-widget post-widget">
							<div class="widget-title">
								<h5 class="widget-title">Popular Products</h5>
							</div>
							<div class="post-inner">
								{% for post in popular_products %}
									<div class="post">
										<figure class="post-thumb"><a href="{{ post.get_absolute_url }}"><img src="{% if post.image %}{{ post.image.url }}{% else %}/static/images/resource/products/1.jpg{% endif %}" alt=""></a></figure>
										<a href="{{ post.get_absolute_url }}">{{ post.title|truncatechars:30 }}</a>
										<span class="price">Ksh. {{ post.current_price }}</span>
									</div>
								{% endfor %}
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				<div class="col-lg-9 col-md-12 col-sm-12 content-side">
					{% include 'partials/messages.html' %}
					<!--MixitUp Galery-->
					<div class="mixitup-gallery">
						<!--Filter-->
						<div class="filters clearfix">
							<ul class="filter-tabs filter-btns clearfix">
								<li class="active filter" data-role="button" data-filter="all">All</li>
								{% for product_category in product_categories %}
									<li class="filter" data-role="button" data-filter=".{{ product_category }}">{{ product_category }}</li>
								{% endfor %}
							</ul>
						</div>

						<div class="filter-list row">
							{% if products %}
								{% for product in products %}
								<!--Product Block-->
									<div class="product-block all mix pantry {{ product.category }} col-lg-4 col-md-6 col-sm-12" title="{{ product }}">
										<div class="inner-box">
											<div class="image"><a href="{{ product.get_absolute_url }}"><img src="{% if product.image %}{{ product.image.url }}{% else %}/static/images/resource/products/1.jpg{% endif %}" alt=""/></a></div>
											<div class="content">
												<h4><a href="{{ product.get_absolute_url }}">{{ product.title|truncatechars:15 }}</a></h4>
												<span class="price">
													<del class="text-danger">{% if product.discount %}Ksh. {{ product.get_initial_price }}{% endif %}</del> <br>
													Ksh. {{ product.current_price }}
												</span>
												<span class="rating">
													{% if product.in_stock %}<span class="alert alert-success py-0">{{ product.in_stock }} in stock</span>{% else %}<span class="alert alert-danger py-0">Out of Stock</span>{% endif %}
													{% if product.discount %}<span class="alert alert-info py-0">{{ product.discount }}% OFF</span>{% endif %}
												</span>
												<span class="rating">
													{% for star in "*****" %}
														{% if forloop.counter <= product.get_average_rating %}
															<i class="fas fa-star"></i>
														{% else %}
															<i class="far fa-star"></i>
														{% endif %}
													{% endfor %}
												</span>
											</div>
											<div class="icon-box">
												<a href="{{ product.get_absolute_url }}" class="ui-btn like-btn"><i class="fa fa-heart"></i></a>
												
												<form action="{% url 'shop:cart_add' product.id %}" method="post">
													{% csrf_token %}
													<input type="hidden" name="quantity" value="1">
													<button type="submit"><a class="ui-btn add-to-cart"><i class="fa fa-shopping-cart"></i></a></button>
												</form>
											</div>
										</div>
									</div>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Featured Products -->
{% endblock %}
{% block js %}
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/popper.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/jquery.fancybox.js"></script>
	<script src="/static/js/jquery-ui.js"></script>
	<script src="/static/js/jquery.countdown.js"></script>
	<script src="/static/js/mixitup.js"></script>
	<script src="/static/js/wow.js"></script>
	<script src="/static/js/appear.js"></script>
	<script src="/static/js/select2.min.js"></script>
	<script src="/static/js/swiper.min.js"></script>
	<script src="/static/js/owl.js"></script>
	<script src="/static/js/script.js"></script>
{% endblock %}