{% extends 'base.html' %}
{% block meta %}

{% endblock %}
{% block content %}
	<!--Team Details Start-->
	<section class="team-details">
		<div class="container pb-100">
			<div class="team-details__top pb-70">
				<div class="row">
					{% if team.image %}
					<div class="col-xl-6 col-lg-6">
						<div class="team-details__top-left">
							<div class="team-details__top-img"><img src="{{ team.image.url }}" alt="">
								<div class="team-details__big-text"></div>
							</div>
						</div>
					</div>
					{% endif %}
					<div class="col-xl-6 col-lg-6">
						<div class="team-details__top-right">
							<div class="team-details__top-content">
								<h3 class="team-details__top-name">{{ team.user.get_full_name|default:'No Name' }}</h3>
								<p class="team-details__top-title">{{ team.rank }}</p>
								<div class="team-details__social">
									{% if team.user.email %} 
										<a href="mailto:{{ team.user.email }}"><i class="fa fa-envelope"></i></a>
									{% endif %}
									{% if team.user.profile.phone_number %} 
										<a href="tel:{{ team.user.profile.phone_number }}"><i class="fa fa-phone"></i></a>
									{% endif %}
									{% if team.user.profile.twitter %} 
										<a href="{{ team.user.profile.twitter }}"><i class="fab fa-twitter"></i></a>
									{% endif %}
									{% if team.user.profile.facebook %} 
										<a href="{{ team.user.profile.facebook }}"><i class="fab fa-facebook"></i></a> 
									{% endif %}
									{% if team.user.profile.linkedin %}
										<a href="{{ team.user.profile.linkedin }}"><i class="fab fa-linkedin"></i></a> 
									{% endif %}
									{% if team.user.profile.instagram %}
										<a href="{{ team.user.profile.instagram }}"><i class="fab fa-instagram"></i></a> 
									{% endif %}
								</div>
								<p class="team-details__top-text-1">I help my clients stand out and <br> they help me grow.</p>
								<p class="team-details__top-text-3">
									{{ team.user.profile.bio|default:'No About Provided'|linebreaks}}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="team-details__bottom pt-100">
				<div class="row">
					<div class="col-xl-6 col-lg-6">
						<div class="team-details__bottom-left">
							<h4 class="team-details__bottom-left-title">Personal Experience</h4>
							<p class="team-details__bottom-left-text">
								{{ team.experience|default:'No Experience Provided'|linebreaks}}								
							</p>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6">
						<div class="team-details__bottom-right">
							<div class="team-details__progress">
								{% if team.skills %}
									{% for skill in team.skills.all %}
										<div class="team-details__progress-single">
											<h4 class="team-details__progress-title">{{ skill }}</h4>
											<div class="bar">
												<div class="bar-inner count-bar" data-percent="{{ skill.level }}%">
													<div class="count-text">{{ skill.level }}%</div>
												</div>
											</div>
										</div>
									{% endfor %}
								{% else %}
									<div class="team-details__progress-single">
										<h4 class="team-details__progress-title">No Skill Added</h4>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Team Details End--> 

	<!--Contact Details Start-->
	<section class="team-contact-form">
		<div class="container pb-100">
			<div class="sec-title text-center">
				<span class="sub-title">Contact With Us Now</span>
				<h2 class="section-title__title">Feel Free to Write Our <br> Tecnology Experts</h2>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<!-- Contact Form -->
					<form id="contact_form" name="contact_form" class="" action="https://kodesolution.com/html/2022/oitech-html/includes/sendmail.php" method="post">
						<div class="row">
							<div class="col-sm-6">
								<div class="mb-3">
									<input name="form_name" class="form-control" type="text" placeholder="Enter Name">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="mb-3">
									<input name="form_email" class="form-control required email" type="email" placeholder="Enter Email">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="mb-3">
									<input name="form_subject" class="form-control required" type="text" placeholder="Enter Subject">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="mb-3">
									<input name="form_phone" class="form-control" type="text" placeholder="Enter Phone">
								</div>
							</div>
						</div>
						<div class="mb-3">
							<textarea name="form_message" class="form-control required" rows="5" placeholder="Enter Message"></textarea>
						</div>
						<div class="mb-3 text-center">
							<input name="form_botcheck" class="form-control" type="hidden" value="" />
							<button type="submit" class="theme-btn btn-style-one" data-loading-text="Please wait..."><span class="btn-title">Send message</span></button>
							<button type="reset" class="theme-btn btn-style-one"><span class="btn-title">Reset</span></button>
						</div>
					</form>
					<!-- Contact Form Validation-->
				</div>
			</div>
		</div>
	</section>
	<!--Contact Details End-->
{% endblock %}
{% block js %}
<!-- form submit -->
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.form.min.js"></script>
<script>
	(function($) {
		$("#contact_form").validate({
			submitHandler: function(form) {
				var form_btn = $(form).find('button[type="submit"]');
				var form_result_div = '#form-result';
				$(form_result_div).remove();
				form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
				var form_btn_old_msg = form_btn.html();
				form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
				$(form).ajaxSubmit({
					dataType:  'json',
					success: function(data) {
						if( data.status == 'true' ) {
							$(form).find('.form-control').val('');
						}
						form_btn.prop('disabled', false).html(form_btn_old_msg);
						$(form_result_div).html(data.message).fadeIn('slow');
						setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
					}
				});
			}
		});
	})(jQuery);
</script>
{% endblock %}